{{ define "main" }}

{{ with .Params.topSection }}
<section class='topSection div pc-topSection' style='background-image: url("{{ .image }}");'>
  <div class="title-div common-layout">
    <div class="title">
      <div class="t1">{{ .kubSphere }}&nbsp;</div>
      <div class="t1">{{ .committee }}</div>
    </div>
    <p class="common-p">{{ .description }}</p>
  </div>
</section>

<section class='topSection div m-topSection' style='background-image: url("{{ .mobile_image }}");'>
  <div class="title-div common-layout">
    <div class="title">
      <div class="t1">{{ .kubSphere }}&nbsp;</div>
      <div class="t1">{{ .committee }}</div>
    </div>
    <p class="common-p">{{ .description }}</p>
  </div>
</section>
{{ end }}

{{ $Pages := .Pages.ByWeight }}

{{ with .Params.citySection }}
<section class="city-section div">
  <div class="common-layout">
    <div class="cityBox">
      {{ with .cityCard }}
      <div class="city-card">
        <div class="innerBox">
          <div class="text">
            <span class="title">{{ .title }}</span>
            <span class="des">{{ .des }}</span>
            <a class="joinUs" href="{{ .joinLink }}" target="_blank">加入我们</a>
          </div>
          <div class="s-bg"></div>
        </div>
        <img class="bl-svg" src="/images/user-group/list/city-rect.svg">
      </div>
      {{ end }}

      <div id="imageList" class="imageList">
        {{ range $Pages }}
          <a class="normalPic" href="{{ .Permalink }}" target="_blank">
              <image src="{{ .Params.coverImage }}"></image>
              <div class="nameText">{{ .Params.stationName }}</div>
              <div class="textBox">
                <div class="title"> KubeSphere 社区用户委员会 — {{ .Params.stationName }}</div>
                <div class="des">{{ .Params.topSection.description }}</div>
              </div>
          </a>
        {{ end }}
      </div>
      <img class="tr-svg" src="/images/user-group/list/city-rect1.svg">
    </div>
  </div>
</section>
{{end}}

{{ with .Params.organization }}
<section class="org-section div" style="background-image: url(/images/user-group/list/org/bg.png);">
  <div class="common-layout">
    <div class="org">
      <div class="left">
        <div class="textBox">
          <div class="title">{{ .name }}</div>
          <image src="{{ .githubIcon }}" class="orgIcon"></image>
        </div>
        <div class="des"> {{ .description }}</div>
      </div>
      <div class="right">
        <image class="bg" src="/images/user-group/list/org/tree.svg"></image>
        <image class="m-bg" src="/images/user-group/list/org/m-bg.svg"></image>
        <div class="sig">{{ .SIG }}</div>
        <div class="sig-zh">{{ .SIG_zh }}</div>
        <div class="positionBox">
          <div class="position">{{ .position1 }}</div>
          <div class="position">{{ .position2 }}</div>
          <div class="position">{{ .position3 }}</div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Params.applyNew }}
<section class="applyNew div">
  <div class="common-layout">
    <div class="apply">
      <div class="text-head">
        <div class="left">
          <div class="title-en">{{ .title_en }}</div>
          <div class="title">{{ .title }}</div>
          <div class="des">{{ .description }}</div>
          <image class="svg" src="/images/user-group/list/applyNew/top-rect.svg"></image>
        </div>
        <div class="right"></div>
      </div>
      {{ with .conditions }}
        <div class="condition">
          <image class="icon" src="{{ .image }}"></image>
          <div class="text">
            <span class="title">{{ .text }}</span>
            <span class="des">{{ .description }}</span>
          </div>
        </div>
        <div class="m-condition">
          <div class="top">
            <image class="icon" src="{{ .image }}"></image>
            <span class="title">{{ .text }}</span>
          </div>
          <span class="des">{{ .description }}</span>
        </div>
      {{ end }}

      {{ with .apply }}
        <div class="apply">
          <image class="icon" src="{{ .image }}"></image>
          <div class="text">
            <span class="title">{{ .text }}</span>
            <span class="des">
              站长向社区 <a target="_blank" href="{{ .applyLink }}">提交申请</a>，通过后即可成立。
            </span>
          </div>
        </div>

        <div class="m-apply">
          <div class="top">
            <image class="icon" src="{{ .image }}"></image>
            <span class="title">{{ .text }}</span>

          </div>
          <span class="des">
            站长向社区 <a target="_blank" href="{{ .applyLink }}">提交申请</a>，通后即可成立。
          </span>
        </div>
      {{ end }}

      {{ with .requirements }}
        <div class="apply">
          <image class="icon" src="{{ .image }}"></image>
          <div class="text">
            <span class="title">{{ .text }}</span>
            <span class="des" style="line-height: 32px;">
              <span>1.站长需要保证所在城市内，每年至少组织一场线下活动（出现疫情等特殊情况例外）。</span>
              <span>2.如果站长由于某个原因临时、或者长期无法于所在城市组织线下活动，需要向社区 <a target="_blank" href="{{ .applyLink }}">提交申请</a> 推荐新的站长，或请求社区推荐新的站长。如果最终无人能组织活动，城市站设置为不活跃状态，直到有新的活跃成员出现。
              <span>3. 如果 Advocacy and Outreach SIG 例会上有关于某个城市站的议题，该城市站需要至少一位成员参与。</span>
              </span>
            </span>
          </div>
        </div>

        <div class="m-apply">
          <div class="top">
            <image class="icon" src="{{ .image }}"></image>
            <span class="title">{{ .text }}</span>
          </div>
          <ol class="des" style="line-height: 32px;">
            <li>1. 站长需要保证所在城市内，每年至少组织一场线下活动（出现疫情等特殊情况外）。</li>
            <li>2. 如果站长由于某个原因临时、或者长期无法于所在城市组织线下活动，需要向社区 <a target="_blank" href="{{ .applyLink }}">提交申请</a> 推荐新的长，或求社区推荐新的站长。如果最终无人能组织活动，城市站设置为不活跃状态，直有新的活跃员出现。
            </li>
          </ol>
        </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}


{{ with .Params.returns }}
<section class="returns">
  <div class="common-layout">
    <div class="return">
      <p class="title">{{ .title }}</p>
      <div class="cards">
        {{ range .list }}
          <div class="card">
            <span class="text">{{ .text }}</span>
            <image class="bg" src="{{ .bg }}"></image>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}

<script>
  var imageList = $('#imageList')
  imageList.children().each(function (index, item) {
    if (index === 0) {
      $(item).addClass('pic-hover')
    }
    $(item).hover(function () {
      imageList.children().each(function (index, item) {
        $(item).removeClass('pic-hover')
      })
      $(item).addClass('pic-hover')
    })
  }) 
</script>
{{ end }}