{{ define "main" }}

<section class="section-1">
    {{ with .Params.section1 }}
    <img src="{{ .topImage | absURL }}" alt="">
    <div class="title-div">
        <h1>{{ .title }}</h1>
        <p>{{ .content }}</p>
    </div>
    {{ end }}
</section>

<section class="section-2">
    {{ with .Params.section2 }}
    <div>
        <div class="left-div">
            <div>{{ .title }}</div>
            <p>{{ .content }}</p>
            <img class='img-1' src="{{ .bg2 | absURL }}" alt="">
            <img class='img-2' src="{{ .bg3 | absURL }}" alt="">
        </div>
        <div class="right-div">
            <img src="{{ .mapImage | absURL }}" alt="">
            <div class='btn-div div-1'>
                <p>{{ .name1 }}</p>
                <div>
                    <img src="{{ .icon1 | absURL }}" alt="">
                </div>
            </div>
            <div class='btn-div div-2'>
                <p>{{ .name2 }}</p>
                <div>
                    <img src="{{ .icon2 | absURL }}" alt="">
                </div>
            </div>
            <div class='btn-div div-3'>
                <p>{{ .name3 }}</p>
                <div>
                    <img src="{{ .icon3 | absURL }}" alt="">
                </div>
            </div>
        </div>
    </div>
    <img src="{{ .bg1 | absURL }}" alt="">
    {{ end }}
</section>

<section class="section-3">
    {{ with .Params.section3 }}
    {{ $tip := .tip }}
    <div>
        <h2>{{ .title }}</h2>
        <ul class="partner-ul">
            {{ range .partnerType }}
                <li>
                    <h3>{{ .title }}</h3>
                    <p>{{ .content }}</p>
                    <div>
                        <a href="">{{ $tip }}</a>
                    </div>
                </li>
            {{ end }}
        </ul>
    </div>
    {{ end }}
</section>

<section class="section-4">
    {{ with .Params.section4 }}
    <div>
        <h2>{{ .title }}</h2>
        <ul class="partner-ul">
            {{ range .featuredPartnerList }}
                <li>
                    <img src="{{ .icon | absURL }}" alt="">
                    <div class='type'>{{ .partnerType }}</div>
                    <div class='content'>{{ .content }}</div>
                </li>
            {{ end }}
        </ul>
    </div>
    {{ end }}
</section>
{{ end }}