{{ define "main" }}

{{ with .Params.section1 }}
<section class="section-1 bg-cover" style='background-image: url("{{ .topImage }}");'>
    <div class="title-div common-layout">
        <h1 class="title-center-h1">{{ .title }}</h1>
        <p class="common-p">{{ .content }}</p>
    </div>
</section>
{{ end }}

<section class="section-2">
    {{ with .Params.section2 }}
    <div class="common-layout">
        <div class="left-div">
            <div class="common-content">{{ .title }}</div>
            <p class="common-p">{{ .content }}</p>
            <img class='img-1' src="{{ .bg2 | relURL }}" alt="">
            <img class='img-2' src="{{ .bg3 | relURL }}" alt="">
        </div>
        <div class="right-div">
            <img src="{{ .mapImage | relURL }}" alt="">
            <div class='btn-div div-1'>
                <p>{{ .name1 }}</p>
                <div>
                    <img src="{{ .icon1 | relURL }}" alt="">
                </div>
            </div>
            <div class='btn-div div-2'>
                <p>{{ .name2 }}</p>
                <div>
                    <img src="{{ .icon2 | relURL }}" alt="">
                </div>
            </div>
            <div class='btn-div div-3'>
                <p>{{ .name3 }}</p>
                <div>
                    <img src="{{ .icon3 | relURL }}" alt="">
                </div>
            </div>
        </div>
    </div>
    <img src="{{ .bg1 | relURL }}" alt="">
    {{ end }}
</section>

<section class='section-iframe'>
  {{ with .Params.sectionIframe }}
  <div class="common-layout">
    <h2 style="margin: 40px 0;" class="title-black-h2">{{ .title }}</h2>
    <iframe src="{{ .googleFormUrl }}" title="form" width="640" height="1000" frameborder="0" marginheight="0" marginwidth="0">正在加载…</iframe>
  </div>
  {{ end }}
</section>
{{ end }}