{{ define "main" }}

{{ $memberList := "" }}

{{ if fileExists "public/json/members.json"}}
	{{ $memberList = getJSON "public/json/members.json"}}

	{{ if eq (len $memberList) 0 }}
		{{ if fileExists "public/json/default_members.json"}}
			{{ $memberList = getJSON "public/json/default_members.json"}}
		{{ else }}
			{{ errorf "cannot get member data" }}
		{{end}}
	{{ end }}		
{{ else }}
	{{ if fileExists "public/json/default_members.json"}}
		{{ $memberList = getJSON "public/json/default_members.json"}}
	{{ else }}
		{{ errorf "cannot get member data" }}
	{{end}}
{{ end }}

{{/* todo !!! currently only support 5 colmuns */}}
{{ $l := len $memberList }}
{{ $addNum := sub 5 (mod $l 5) }}

{{ with .Params.section1 }}
<section class="section-1 bg-cover" style='background-image: url("{{ .topImage }}");'>
	<div class="title-div common-layout">
		<h1 class="title-center-h1">{{ .title }}</h1>
		<p class="common-p">{{ .content }}</p>
	</div>
</section>
{{ end }}

{{ with .Params.section2 }}
<section class="section-2">
	<div class="common-layout">
		<h2 class="title-black-h2">{{ .title }}</h2>
		<div class="scroll-container">
			<div class="member-grid scroll">
				{{ range $memberList }}
				{{ partial "memberList" .}}
				{{ end }}
				{{ range seq $addNum}}
				{{ partial "memberList" ""}}
				{{ end }}
			</div>
		</div>

</section>
{{ end }}

<script>

	function loaded() {

		const mediaQuery = window.matchMedia("(max-width: 768px)")

		const scrollContext = document.querySelector(".member-grid.scroll");
		if (!scrollContext) return;
		if (mediaQuery.matches) {

			const children = Array.from(scrollContext.children);
			children.forEach(child => {
				if (child.classList.contains('placeholder')) {
					scrollContext.removeChild(child);
				}
			});

			const l = scrollContext.children.length;
			if (l <= 4) return;

			for (let i = 0; i < 4; ++i) {
				const child = scrollContext.children[i].cloneNode(true);
				scrollContext.append(child);
			}
		} else {
			const l = scrollContext.children.length;
			if (l <= 20) return;

			for (let i = 0; i < 20; ++i) {
				const child = scrollContext.children[i].cloneNode(true);
				scrollContext.append(child);
			}
		}

		let disableScroll = false;
		const dpr = window.devicePixelRatio;
		const step = 1 / dpr;
		const placeholderHeight = scrollContext.children[0].offsetHeight * 4 + 60;
		const scrollHeight = scrollContext.scrollHeight;
		const clientHeight = scrollContext.clientHeight;

		function setScrollPos(pos) {
			scrollContext.scrollTop = pos;
		}

		function getScrollPos() {
			return scrollContext.scrollTop;
		}

		scrollContext.addEventListener('scroll', function () {
			window.requestAnimationFrame(scrollUpdate);
		}, false);


		setScrollPos(step);
		
		{{/*  console.log(window.devicePixelRatio);
		console.log("client:", clientHeight, " scrollHeight", scrollHeight, "placeholder:", placeholderHeight);  */}}

		function scrollUpdate() {
			let curHeight = getScrollPos();
			if (!disableScroll) {
				if (curHeight + placeholderHeight + 1 >= scrollHeight) {
					setScrollPos(step);
					disableScroll = true;
				} else if (curHeight <= 0) {
					setScrollPos(scrollHeight - placeholderHeight);
					disableScroll = true;
				}
			}
			if (disableScroll) {
				window.setTimeout(function () {
					disableScroll = false;
				}, 40);
			}
		}

		var fps, fpsInterval, startTime, now, then, elapsed;
		function autoScroll() {
			requestAnimationFrame(autoScroll);
			now = Date.now();
			elapsed = now - then;
			if (elapsed > fpsInterval) {
				then = now - (elapsed % fpsInterval);
				// todo !!! here we need change scroll step when screen resize 
				// still don't know the propriate step
				setScrollPos(getScrollPos() + dpr + step + 1);
				scrollUpdate();
			}
		}

		function startAnimating(fps) {
			fpsInterval = 1000 / fps;
			then = Date.now();
			startTime = then;
			autoScroll();
		}

		startAnimating(30);
	};

	document.addEventListener("DOMContentLoaded", loaded)

</script>

{{ with .Params.section3 }}
<section class="section-3">
	<div class="common-layout">
		<div class="section-title">
			<h2 class="title-black-h2">{{ .title }}</h2>
			<div class="section-description">
				{{ .description }}
			</div>
		</div>
		<div class="contributor-list">
			{{ range .contributors }}

			<div class="contributor-list-item">
				<a class="contributor-link" href="{{ .link }}" target="_blank">
					<div>
						<img src="{{ $.Params.section3.icon }}">
					</div>
					<span>kubesphere/{{ .name }}</span>
				</a>
			</div>
			{{ end }}
		</div>
	</div>
</section>
{{ end }}

{{ with .Params.section4 }}
<section class="section-4">
	<div class="common-layout">
		<div class="section-title">
			<h2 class="title-black-h2">{{ .title }}</h2>
			<div class="section-description">
				{{ .description }}
			</div>
		</div>
		<div class="grid-wrapper">
			<div class="member-grid noscroll">
				{{ range .ambassadors }}
				{{ partial "memberList" .}}
				{{ end }}
			</div>
		</div>
</section>
{{ end }}

{{/* <section class="section-5">
	<div class="common-layout">
	</div>
</section> */}}

{{ end }}