@import 'variables';
@import 'mixin';

.section-1 {
  position: relative;
  height: 300px;

  .title-div {
    position: absolute;
    top: 138px;
    left: 0;
    right: 0;
    text-align: center;
  }

  p {
    margin-top: 12px;
    letter-spacing: -0.04px;
    color: #ffffff;
  }
}

.section-2 {
  position: relative;
  .cases-ul {
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between;
    position: relative;
    top: -60px;
    z-index: 2;

    li {
      width: 373px;
      height: 392px;
      margin-top: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06), 0 8px 16px 0 rgba(36, 46, 66, 0.05);
      background-color: #ffffff;

      img {
        display: block;
        width: 293px;
        height: 120px;
        margin: 24px auto;
        object-fit: contain;
      }

      p {
        width: 293px;
        height: 128px;
        margin: 0 auto;
        overflow: hidden;
      }

      div {
        width: 293px;
        height: 24px;
        margin: 25px auto 0;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5;
      }
    }
  }

  & > img {
    position: absolute;
    bottom: 30px;
    right: 50%;
    transform: translateX(-520px);
  }
}

.section-3 {
  position: relative;
  background-image: url('/images/case/oval-4.svg');
  background-position: center top;
  background-repeat: no-repeat;
  padding-top: 80px;

  h2 {
    margin-bottom: 40px;
    text-align: center;
  }

  & > div {
    width: 1160px;
    margin: 0 auto;
    #case-group {
      display: flex;
      align-items: center;
      height: 100px;
      border-radius: 5px;
      box-shadow: 0 4px 16px 0 rgba(7, 42, 68, 0.1);
      background-color: #ffffff;

      li {
        padding: 8px 16px;
        border-radius: 20px;
        margin-left: 30px;
        height: 24px;
        font-size: 16px;
        line-height: 1.5;
        color: #36435c;
        cursor: pointer;
        transition: all ease 0.2s;

        &:hover {
          box-shadow: 0 8px 16px 0 rgba(101, 193, 148, 0.2), 0 0 50px 0 rgba(101, 193, 148, 0.1);
          background-color: #55bc8a;
          color: #ffffff;
        }
      }

      .active {
        box-shadow: 0 8px 16px 0 rgba(101, 193, 148, 0.2), 0 0 50px 0 rgba(101, 193, 148, 0.1);
        background-color: #55bc8a;
        color: #ffffff;
      }
    }

    #case-children {
      position: relative;
      z-index: 2;
      display: flex;
      flex-wrap: wrap;
      li {
        margin-top: 20px;
        margin-right: 21px;
      }

      li:nth-child(4n) {
        margin-right: 0;
      }

      img {
        width: 274px;
        height: 135px;
        object-fit: contain;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06), 0 8px 16px 0 rgba(36, 46, 66, 0.05);
      }
    }

    & > p {
      margin-top: 40px;
      text-align: center;
    }
  }


  & > img {
    width: 152px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(500px);
  }
}