@import 'variables';

.section-1 {
  padding-top: 129px;
  padding-bottom: 60px;

  div {
    position: relative;

    p {
      width: 733px;
      margin-top: 12px;
      opacity: 0.8;
      text-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
      color: #ffffff;

      @media only screen and (max-width: $mobile-max-width) {
        width: 100%;
      }
    }
  }
}

.section-2 {
  position: relative;

  &>img {
    position: absolute;
    top: 320px;
    left: 50%;
    transform: translateX(400px);

    @media only screen and (max-width: $mobile-max-width) {
      display: none;
    }
  }

  &>div {
    position: relative;
    padding-top: 56px;
    z-index: 2;

    .ul-left {
      width: 668px;

      @media only screen and (max-width: $mobile-max-width) {
        width: 100%;
        margin-top: 40px;
      }

      &>li+li {
        margin-top: 30px;
      }

      &>li {
        h2 {
          font-size: 24px;
          left: 28px;
          letter-spacing: -0.07px;
          color: #30313b;
        }

        &>p {
          margin-top: 12px;
          font-size: 16px;
          line-height: 1.75;
          letter-spacing: -0.04px;
          color: #919aa3;
        }

        &>a {
          display: block;
          margin-top: 12px;
          font-size: 16px;
          line-height: 1.75;
          letter-spacing: -0.04px;
          color: #919aa3;
        }

        &>img {
          display: block;
          max-width: 100%;
          margin: 20px auto 0;
        }

        &>ul {
          width: 660px;
          font-size: 0;
          border-radius: 8px;
          overflow: hidden;
          display: flex;

          @media only screen and (max-width: $mobile-max-width) {
            width: 100%;
            display: block;
          }

          li {
            position: relative;
            display: inline-block;
            box-sizing: border-box;
            width: 220px;
            min-height: 100%;
            padding: 35px 30px;

            @media only screen and (max-width: $mobile-max-width) {
              display: block;
              width: 100%;
              margin: 10px auto;
              padding: 20px;
              border-radius: 8px;
            }

            p {
              font-size: 16px;
              line-height: 1.75;
              text-align: center;
              color: #ffffff;
            }
          }

          li:nth-child(1) {
            background-image: linear-gradient(to left, #0c8349 99%, #00603c 0%);
          }

          li:nth-child(2) {
            background-image: linear-gradient(to left, #2a9762 99%, #278d67 0%);
          }

          li:nth-child(3) {
            background-image: linear-gradient(to left, #65c194 99%, #4ca986 9%);
          }
        }

        &>div {
          position: relative;
          padding: 20px 60px 20px 38px;
          border-radius: 8px;
          background-image: linear-gradient(107deg, #4a499a 28%, #8552c3 81%);

          .p1 {
            font-size: 16px;
            line-height: 1.75;
            color: #ffffff;
          }

          .p2 {
            opacity: 0.8;
            font-size: 14px;
            line-height: 1.86;
            letter-spacing: 0.35px;
            color: #ffffff;
          }

          img {
            position: absolute;
            top: -20px;
            right: -8px;
          }
        }
      }
    }

    &>div {
      position: absolute;
      right: 40px;
      top: -56px;
      width: 373px;
      border-radius: 10px;
      box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06), 0 8px 16px 0 rgba(36, 46, 66, 0.05);
      background-color: #ffffff;

      @media only screen and (max-width: $mobile-max-width) {
        width: 100%;
        max-width: 400px;
        position: relative;
        right: 0;
        top: 0px;
        margin: 0 auto;
      }

      img {
        display: block;
        width: 100%;
        object-fit: contain;
        border-radius: 10px;
      }

      .ul-right {
        padding: 4px 60px 26px;

        @media only screen and (max-width: $mobile-max-width) {
          padding: 4px 40px 26px;
        }

        li+li {
          margin-top: 16px;
        }

        li {
          .p1 {
            font-size: 16px;
            line-height: 28px;
            color: #30313b;
          }

          .p2 {
            font-size: 16px;
            line-height: 1.75;
            letter-spacing: -0.04px;
            color: #919aa3;
          }
        }
      }
    }
  }
}

.title-bold {
  font-weight: bold;
}