@import 'reset';
@import 'variables';
@import 'header';
@import 'footer';

body {
  font-family: $font-family-2;
  overflow-x: hidden;
}

h1, h2, h3 ,h4, h5, h6 {
  font-family: $font-family-1;
}

html {
  background-color: #f5f8f9;
}

section {
  min-width: 1160px;

  @media only screen and (max-width: $mobile-max-width) {
    min-width: 0;
  }
}

::-webkit-scrollbar-track {
    background: transparent;
}

.padding {
  padding-top: 40px;
}

.common-layout {
  width: 1160px;
  margin: 0 auto;

  @media only screen and (max-width: $mobile-max-width) {
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px;
  }
}

.common-flex-layout {
  display: flex;
  flex-wrap: wrap ;
  justify-content: space-between;
}

.nowrap-li:last-of-type {
  white-space: nowrap;
}

@media screen and (max-width: $mobile-max-width) {
  .nowrap-li:last-of-type {
    a {
      white-space: normal;
    }
  }
}

.title-h1 {
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.11px;
  color: #ffffff;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);

  @media only screen and (max-width: $mobile-max-width) {
    font-size: 28px;
    font-weight: bold;
    line-height: 1.29;
    letter-spacing: -0.08px;
  }
}

.title-center-h1 {
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.11px;
  color: #ffffff;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.title-black-h2 {
  text-shadow: 0 4px 8px rgba(35, 45, 65, 0.1);
  font-size: 32px;
  font-weight: bold;
  line-height: 52px;
  color: #171c34;

  @media only screen and (max-width: $mobile-max-width) {
    font-size: 24px;
    line-height: 1.17;
  }
}

.title-white-h2 {
  text-shadow: 0 4px 8px rgba(35, 45, 65, 0.1);
  font-size: 32px;
  font-weight: bold;
  line-height: 1.63;
  color: #ffffff;

  @media only screen and (max-width: $mobile-max-width) {
    font-size: 24px;
    line-height: 1.17;
  }
}

.title-black-h3 {
  text-shadow: 0 4px 8px rgba(35, 45, 65, 0.1);
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  color: #31383e;
}

.title-white-h3 {
  height: 24px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  color: #ffffff;
}

.title-p {
  font-size: 16px;
  line-height: 2;
  text-align: center;
  color: #919aa3;

  @media only screen and (max-width: $mobile-max-width) {
    line-height: 1.75;
  }
}

.common-p {
  font-size: 16px;
  line-height: 1.5;
  color: #8f94a1;
}

.common-center-p {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #8f94a1;
}

.common-content {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.06px;
  color: #3e464c;
}

.common-li {
  font-size: 16px;
  line-height: 20px;
  color: #36435c;
}

.common-btn {
  border: none;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 10px 50px 0 rgba(34,43,62,.1),0 8px 16px 0 rgba(33,43,61,.2);

  &:hover {
    box-shadow: none!important;
  }
}

.inner-a {
  color: #00a971;

  &:hover {
    color: #008a5c;
  }
}

.common-green-a {
  height: 24px;
  font-weight: 600;
  line-height: 24px;
  color: #00a971;

  &:hover {
    color: #008a5c;
  }
}

.common-black-a {
  height: 24px;
  font-weight: 600;
  line-height: 24px;
  color: #36435c;

  &:hover {
    color: #55bc8a;
  }
}

.common-middle-inline {
  display: inline-block;
  vertical-align: middle;
}

.common-top-inline {
  display: inline-block;
  vertical-align: top;
}

.top-cover-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.share {
  a {
    margin-right: 10px;

    img {
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.search-input-div {
  position: relative;
  height: 36px;
  padding-left: 18px;
  padding-right: 40px;
  border-radius: 18px;
  background-color: #ffffff;

  .algolia-autocomplete {
    width: 100%;
    height: 100%;
  }

  input {
    width: 100%;
    height: 20px;
    margin-top: 8px;
    font-size: 14px;
    line-height: 20px;
    border: none;
    outline: none;
    color: #657480;

    &::placeholder {
      color:#919aa3;
    }
  }

  svg {
    position: absolute;
    right: 18px;
    top: 11px;
  }
}

.notices {
  margin: 20px 0;
  position: relative;

  & > p {
    padding: 0 10px;
    margin: 0!important;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
  }

  & > div {
    padding: 10px;
  }
}

.notices.note {
  & > p {
    background: #6ab0de
  }
  & > div {
    background: #e7f2fa;
  }
}

.notices.tip {
  & > p {
    background: #78C578
  }
  & > div {
    background: #E6F9E6;
  }
}

.notices.info {
  & > p {
    background: #F0B37E
  }
  & > div {
    background: #FFF2DB;
  }
}

.notices.warning {
  & > p {
    background: #E06F6C
  }
  & > div {
    background: #FAE2E2;
  }
}

/* content tabs */
.code-tabs {
  border: 1px solid #dee2e6;
  overflow: hidden;
  margin: 20px 0px;
}

.code-tabs .tab-content {
  padding: 20px 15px;
  margin-bottom: 0;
}

.code-tabs .tab-content .tab-pane{
  margin-bottom: 0;
}

.code-tabs .nav-tabs {
  padding-left: 0;
  margin-bottom: 0;
  border-bottom: 1px solid #dee2e6;
}

.code-tabs .nav-tabs .nav-item {
  display: inline-block;
  padding: 10px;
  margin-top: 0;
  border-right: 1px solid #dee2e6;
}

.code-tabs .nav-tabs .nav-item .nav-link {
  text-decoration: none;
  font-weight: 500;
  border: 0;
  margin-bottom: 0;
}

.code-tabs .nav-tabs .nav-item::before {
  display: none;
}

.code-tabs .nav-tabs .nav-item.active {
  background: #55bc8a;
}

.code-tabs .nav-tabs .nav-item.active .nav-link {
  color: #ffffff;
}

.code-tabs .tab-pane {
  display: none;
}

.code-tabs .active {
  display: block;
}

// copy button
.code-over-div {
  position: relative;
  overflow: auto;
  padding: 1em;
}
.copy-code-button {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
  width: 20px;
  height: 20px;
  background-image: url('/images/docs/v3.3/copy.png');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  &.is-active {
    background-image: none;
    width: auto;
    &:before {
      content: "Copied";
      color: #ffffff;
    }
  }
}


.copy-code-button:hover {
  top: 3px;
}

.highlight pre {
  /* Avoid pushing up the copy buttons. */
  margin: 0;
}

.download-btn {
  height: 56px;
  border-radius: 28px;
  font-size: 16px;
}

.download-btn1 {
  width: 211px;
  box-shadow: 0 10px 50px 0 rgba(34, 43, 62, 0.1), 0 8px 16px 0 rgba(33, 43, 61, 0.2), 0 10px 50px 0 rgba(76, 169, 134, 0.05);
  background-image: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0.1) 97%),linear-gradient(to bottom,#242e42,#242e42);
}

.download-btn2 {
  width: 195px;
  margin-left: 12px;
  color: #36435c;
  box-shadow: 0 10px 50px 0 rgba(34, 43, 62, 0.1), 0 8px 16px 0 rgba(33, 43, 61, 0.2), 0 10px 50px 0 rgba(76, 169, 134, 0.05);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1) 97%), linear-gradient(to bottom, #ffffff, #ffffff);
  @media only screen and (max-width: $mobile-max-width) {
    margin-left: 0px;
    margin-top: 12px;
  }
}
