@import 'reset';
@import 'variables';
@import 'header';
@import 'footer';

body {
  font-family: $font-family-2;
}

h1, h2, h3 ,h4, h5, h6 {
  font-family: $font-family-1;
}

html {
  background-color: #f5f8f9;
}
