@import 'variables';
@import 'mixin';


.section-1 {
  position: relative;
  height: 300px;
  min-width: 1160px;

  img {
    width: 100%;
    height: 100%;
    object-fit:cover;
  }

  .title-div {
    position: absolute;
    top: 138px;
    left: 0;
    right: 0;
    text-align: center;
  }

  h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: -0.11px;
    color: #ffffff;
  }
  p {
    margin-top: 12px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.04px;
    color: #ffffff;
  }
}

.section-2 {
  background-image: url('/images/contribution/oval-4.svg');
  background-position: center bottom;
  background-repeat: no-repeat;
  & > div {
    @include common-content-div-style;
    & > ul {
      @include common-flex-style;
      position: relative;
      transform: translateY(-40px);
      & > li {
        position: relative;
        width: 373px;
        height: 392px;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06), 0 8px 16px 0 rgba(36, 46, 66, 0.05);
        background-color: #ffffff;
        overflow: hidden;
        & > .title {
          padding: 20px;
          text-align: center;
          img {
            margin-bottom: 10px;
          }
        }

        & > .line {
          width: 360px;
          height: 1px;
          background-color: #d2e0d8;
        }

        & > ul {
          margin-top: 40px;
          margin-left: 60px;

          li {
            width: 216px;
            height: 24px;
            line-height: 24px;
            padding-bottom: 12px;
            margin-bottom: 11px;
            border-bottom: 1px solid #d2e0d8;
            a {
              font-size: 16px;
              color: #31383e;
            }
            a:hover {
              color: #00aa72;
            }
          }
        }

        .bottom-img {
          position: absolute;
          left: 0;
          bottom: 0;
        }
      }

      li:nth-child(2){
        .line {
          margin: 0 auto;
        }
      }

      li:nth-child(3){
        .line {
          margin-left: 14px;
        }
      }
    }

    .organization-div {
      margin-top: 60px;
      text-align: center;
      h2 {
        height: 52px;
        margin-bottom: 40px;
        text-shadow: 0 4px 8px rgba(35, 45, 65, 0.1);
        font-size: 32px;
        font-weight: bold;
        line-height: 52px;
        color: #171c34;
      }

      & > div {
        position: relative;
        height: 454px;
        .top-div {
          width: 200px;
          height: 50px;
          margin: 0 auto;
          line-height: 50px;
          font-size: 12px;
          font-weight: 600;
          letter-spacing: 0.23px;
          color: #ffffff;
          border-radius: 3px;
          box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06), 0 8px 16px 0 rgba(36, 46, 66, 0.05);
          background-color: #060845;
        }

        & > ul {
          position: absolute;
          top: 100px;
          left: 50%;
          width: 896px;
          transform: translateX(-50%);
          @include common-flex-style;

          & > li {
            width: 200px;
            height: 50px;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 0.23px;
            line-height: 50px;
            color: #ffffff;
            border-radius: 3px;
            box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06), 0 8px 16px 0 rgba(36, 46, 66, 0.05);
            background-color: #7371df;

            & > div {
              img, span {
                vertical-align: middle;
              }
            }

            li {
              position: relative;
              width: 200px;
              height: 50px;
              margin-top: 31px;
              line-height: 50px;
              font-size: 12px;
              font-weight: 600;
              letter-spacing: 0.23px;
              color: #3d3e49;
              border-radius: 3px;
              cursor: pointer;
              box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06), 0 8px 16px 0 rgba(36, 46, 66, 0.05);
              background-color: #ffffff;

              img {
                position: absolute;
                top: 0;
                left: 0;
              }

              &:hover {
                box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06), 0 8px 16px 0 rgba(36, 46, 66, 0.05);
                background-color: #f7b500;
                p {
                  display: block;
                }
              }

              .left {
                display: none;
                position: absolute;
                top: 50%;
                left: -14px;
                width: 210px;
                transform: translate(-100%, -50%);
                padding: 20px;
                font-size: 12px;
                letter-spacing: 0.23px;
                line-height: 16px;
                color: #ffffff;
                border-radius: 4px;
                opacity: 0.8;
                background-color: #060845;

                &::after {
                  content: '';
                  position: absolute;
                  top: 50%;
                  right: -12px;
                  transform: translateY(-50%);
                  border: 6px solid transparent;
                  border-left-color: #060845;
                }
              }

              .right {
                display: none;
                position: absolute;
                top: 50%;
                right: -14px;
                width: 210px;
                transform: translate(100%, -50%);
                padding: 20px;
                font-size: 12px;
                letter-spacing: 0.23px;
                line-height: 16px;
                color: #ffffff;
                border-radius: 4px;
                opacity: 0.8;
                background-color: #060845;

                &::before {
                  content: '';
                  position: absolute;
                  top: 50%;
                  left: -12px;
                  transform: translateY(-50%);
                  border: 6px solid transparent;
                  border-right-color: #060845;
                }
              }
            }
          }
        }
      }
    }
  }
}

.section-3 {
  text-align: center;
  h2 {
    height: 52px;
    text-shadow: 0 4px 8px rgba(35, 45, 65, 0.1);
    font-size: 32px;
    font-weight: bold;
    line-height: 1.63;
    color: #171c34;
  }
  & > p {
    width: 964px;
    height: 64px;
    margin: 12px auto 0;
    font-size: 16px;
    line-height: 2;
    color: #919aa3;
  }

  & > ul {
    width: 1160px;
    margin: 0 auto;
    padding-bottom: 30px;
    text-align: left;
    border-bottom: solid 2px #e5e5e5;

    .active {
      background-image: linear-gradient(148deg, #4a499a 16%, #8552c3 85%);

      &:hover {
        background-image: linear-gradient(148deg, #4a499a 16%, #8552c3 85%);
      }
    }

    li {
      position: relative;
      display: inline-block;
      margin-left: 84px;
      margin-top: 30px;
      margin-bottom: 28px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-image: linear-gradient(38deg, #d5dee7 19%, #ffffff 113%);
      cursor: pointer;

      &:hover {
        background-image: linear-gradient(44deg, #dee0e6 19%, #b6c2cd 86%);
      }

      img {
        width: 24px;
        height: 24px;
        margin: 13px;
        object-fit: contain;
      }

      p {
        width: 134px;
        height: 20px;
        position: absolute;
        bottom: -24px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        text-align: center;
        color: #3d3e49;
      }

    }

    li:nth-child(1), li:nth-child(10) {
      margin-left: 0;
    }
  }

  & > div {
    & > div {
      position: relative;
      width: 160px;
      height: 160px;
      margin:  28px auto 30px;
      border-radius: 50%;
      background-image: linear-gradient(148deg, #4a499a 16%, #8552c3 85%);

      img {
        width: 80px;
        height: 80px;
        margin: 40px;
        object-fit: contain;
      }

      .btn-change {
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(0.125turn);
        width: 10px;
        height: 10px;
        cursor: pointer;
      }

      .btn-left {
        left: -100px;
        border-bottom: 4px solid #4f5362;
        border-left: 4px solid #4f5362;
      }

      .btn-right {
        right: -100px;
        border-top: 4px solid #4f5362;
        border-right: 4px solid #4f5362;
      }
    }

    & > a {
      font-size: 18px;
      font-weight: 600;
      color: #00a971;
    }

    & > p {
      height: 24px;
      margin-top: 4px;
      font-size: 16px;
      line-height: 1.5;
      color: #31383e;
    }

    & > ul {
      margin-top: 18px;
      margin-bottom: 83px;
      font-size: 0;
      li {
        display: inline-block;
        margin-left: 8px;
        img {
          width: 160px;
          height: 68px;
          object-fit: contain;
        }
      }
      li:nth-child(1) {
        margin-left: 0;
      }
    }
  }
}

.section-4 {
  position: relative;
  text-align: center;
  padding-bottom: 93px;

  & > img {
    width: 100%;
    height: 445px;
    object-fit: cover;
  }
  h2 {
    height: 52px;
    margin-top: -385px;
    margin-bottom: 60px;
    text-shadow: 0 4px 8px rgba(35, 45, 65, 0.1);
    font-size: 32px;
    font-weight: bold;
    line-height: 1.63;
    color: #ffffff;
  }

  & > div {
    @include common-flex-style;
    width: 963px;
    margin: 0 auto;
    & > div {
      width: 471px;
      height: 565px;
      background-color: #ffffff;
      img {
        width: 168px;
        height: 168px;
        margin-top: 60px;
        border-radius: 50%;
        object-fit: contain;
      }

      h3 {
        height: 29px;
        margin-top: 55px;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.2;
        color: #31383e;
      }

      p {
        height: 96px;
        margin: 13px auto 0;
        font-size: 16px;
        line-height: 1.5;
        color: #31383e;
      }

      div {
        margin-top: 30px;
        height: 24px;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.33;
        a {
          color: #00a971;
          &:hover {
            color: #008a5c;
          }
        }
      }
    }

    & > div:nth-child(1) {
      p {
        width: 300px;
      }
    }

    & > div:nth-child(2) {
      p {
        width: 384px;
      }
    }
  }
}

.section-5 {
  width: 1160px;
  margin: 0 auto;

  h2 {
    height: 52px;
    text-shadow: 0 4px 8px rgba(35, 45, 65, 0.1);
    font-family: Roboto;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.63;
    text-align: center;
    color: #171c34;
  }

  ul {
    margin-top: 36px;
    text-align: center;
    font-size: 0;

    li {
      display: inline-block;
      margin: 0 10px;

      img {
        width: 210px;
        height: 100px;
        object-fit: contain;
      }
    }
  }
}