@import "variables";
@import "mixin";

.section-1 {
  position: relative;
  height: 884px;
  background-image: linear-gradient(to left, #44bd93, #26a678);
  overflow: hidden;

  .download-btn2 {
    min-width: 160px;
    color: #fff;
    box-shadow: 0 10px 50px 0 rgba(34, 43, 62, 0.1),
      0 8px 16px 0 rgba(33, 43, 61, 0.2), 0 10px 50px 0 rgba(76, 169, 134, 0.05);
    background-image: linear-gradient(
        to bottom,
        rgba(14, 10, 10, 0),
        rgba(0, 0, 0, 0.1) 97%
      ),
      linear-gradient(to bottom, #242e42, #242e42);
  }

  .experiense-btn {
  }
  .apply-btn {
    margin-left: 8px;
    button {
      background: linear-gradient(180deg, #fff501 0%, #ffa502 100%), #242e42;
      color: #242e42;
      font-weight: 520;
    }
  }

  .download-btn {
    margin-top: 30px;
  }

  & > .img1 {
    position: absolute;
    top: 0;
    right: 0;
    height: 431px;
  }

  & > .img2 {
    position: absolute;
    top: 526px;
    left: 0;
  }

  & > .img3 {
    position: absolute;
    top: 387px;
    left: 50%;
    transform: translateX(510px);
  }

  & > div {
    position: relative;
    padding-top: 234px;

    & > div {
      position: relative;
      z-index: 3;
    }

    .p1 {
      width: 588px;
      color: #fff;
      text-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
      margin-top: 12px;
    }

    h1 {
      color: #fff;
      text-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      font-size: 56px;
      font-weight: 700;
    }

    .p2 {
      width: 560px;
      color: #fff;
      text-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      font-size: 16px;
      margin-top: 8px;
      font-weight: 380;
      line-height: 28px;
      letter-spacing: -0.044px;
    }

    img {
      position: absolute;
    }

    .img1-div {
      cursor: pointer;
      position: absolute;
      top: 268px;
      right: 0;
      z-index: 2;
      width: 460px;
      height: 265.34px;
      object-fit: contain;
      border: 6px solid #ffffff;
      border-radius: 5px;
      box-shadow: 0 10px 20px 0 rgba(34, 43, 62, 0.1),
        0 8px 16px 0 rgba(33, 43, 61, 0.2), 0 10px 30px 0 rgba(34, 43, 62, 0.1);

      .img1 {
        height: 100%;
        width: 100%;
      }

      .play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
      }
    }

    .img2 {
      top: 508px;
      right: 445px;
    }

    .img4 {
      top: 276px;
      left: -311px;
    }
  }
  @media only screen and (max-width: $mobile-max-width) {
    height: auto;
    padding-top: 138px;

    & > .img1,
    .img2,
    .img3 {
      display: none;
    }

    & > div {
      padding-top: 0px;

      .img2,
      .img4 {
        display: none;
      }

      h1 {
        font-size: 28px;
        line-height: 1.29;
        letter-spacing: -0.08px;
      }

      h1,
      .p2 {
        width: 100%;
        height: auto;
      }

      button {
        display: none;
      }

      .img1-div {
        position: relative;
        top: 0;
        left: 0;
        display: block;
        height: 0;
        width: 80%;
        padding-bottom: 56.25%;
        margin: 40px auto;
      }
    }
  }

  .custom-vertical-carousel {
    position: absolute;
    top: 208px;
    right: 0;
    width: 100%;
    max-width: 531px;
    height: 350px;
    margin: 0 auto;
    padding: 20px 0;
  }

  .carousel-inner {
    position: relative;
    height: 100%;
  }

  .carousel-slide {
    width: 100%;
    height: 319px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    overflow: hidden;
  }

  .carousel-slide .slide-content {
    width: 100%;
    height: 100%;
    padding: 4px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    img {
      display: block;
      width: calc(100% - 8px);
      height: calc(100% - 8px);
    }
  }

  .carousel-slide.active {
    transform: translateY(0) scale(1);
    opacity: 1;
    z-index: 10;
  }

  .carousel-slide.prev {
    transform: translateY(-20px) scale(0.95);
    opacity: 0.5;
    z-index: 9;
  }

  .carousel-slide.next {
    transform: translateY(20px) scale(0.95);
    opacity: 0.5;
    z-index: 8;
  }

  .carousel-slide.hidden {
    opacity: 0;
    transform: translateY(50px) scale(0.9);
    z-index: 1;
  }
}

.section-2 {
  box-sizing: border-box;
  height: 3365px;
  position: relative;
  margin-top: -308px;
  margin-bottom: -300px;
  padding-top: 308px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("/images/home/4.png");
  z-index: 2;
  &.en {
    height: 3619px;
    background-image: url("/images/home/4-en.png");
  }

  .title-black-h2 {
    margin-top: 107px;
  }

  & > div {
    text-align: center;

    & > p {
      width: 964px;
      margin: 16px auto 50px;
    }

    & > ul {
      li {
        width: 274px;
        height: 358px;

        img {
          margin: 36px auto 20px;
        }

        p {
          width: 240px;
          margin: 20px auto 0;
        }
      }
    }
  }

  @media only screen and (max-width: $mobile-max-width) {
    height: auto;
    background-image: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 60px;
    padding-bottom: 50px;
    background-color: #ffffff;

    & > div {
      & > p {
        width: 100%;
        margin-bottom: 0;
      }

      & > ul > li {
        height: auto;
      }
    }
  }
}

.section-8 {
  height: 1778px;
  background-image: url("/images/home/8.png");
  margin-top: -308px;
  &.en {
    height: 1706px;
    background-image: url("/images/home/8.png");
  }
}
.tabs {
  position: relative;
}

.content-section {
  position: relative;
  margin-top: -307px;
  margin-bottom: -300px;
  padding-top: 300px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: none;

  &.active {
    display: block;
  }
  // background-image: url("/images/home/4.png");
}

.tab-div {
  position: absolute;
  top: 272px;
  width: 100%;
  // left: 50%;
  // right: 50%;
  z-index: 9;

  ul {
    display: flex;
    background-color: #f5f8f9;
    width: fit-content;
    border-radius: 40px;
    padding: 4px;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
  }
  li {
    cursor: pointer;
    white-space: nowrap;
    padding: 16px 48px;
    border-radius: 26px;
    font-weight: 520;
    color: #31383e;
    &.active {
      background-color: #55bc8a;
      color: #fff;
      box-shadow: 0 8px 16px 0 rgba(33, 43, 61, 0.2),
        0 10px 50px 0 rgba(34, 43, 62, 0.1), 0 4px 8px 0 rgba(36, 46, 66, 0.06);
    }
  }
}

.section-3 {
  position: relative;
  padding-bottom: 420px;
  background-color: #f5f8f9;
  & > div {
    text-align: center;

    & > p {
      width: 964px;
      margin: 16px auto 50px;
    }

    & > div {
      position: relative;
      margin-top: 104px;
      text-align: left;
      align-items: center;

      & > ul {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 214px;
        height: 245px;
        border-left: solid 1px #ccd3db;

        & > li {
          height: 30px;
          line-height: 30px;
          padding-left: 24px;
          margin-left: -1px;
          font-size: 16px;
          color: #76808a;
          cursor: pointer;

          &:hover {
            color: #31383e;
          }
        }

        .active {
          font-size: 22px;
          color: #4ca986;
          border-left: 2px solid #4ca986;

          &:hover {
            color: #4ca986;
          }
        }
      }

      & > div {
        position: relative;
        display: none;
        width: 919px;
        height: 436px;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06),
          0 8px 16px 0 rgba(36, 46, 66, 0.05);
        background-color: #ffffff;

        & > .top {
          position: relative;
          box-sizing: border-box;
          width: 643px;
          height: 132px;
          padding: 34px 40px;
          margin-left: 42px;
          transform: translateY(-36px);
          border-radius: 10px;
          color: #ffffff;
          background-image: linear-gradient(108deg, #4a499a 28%, #8552c3 81%);

          & > h3 {
            font-size: 24px;
            line-height: 32px;
          }

          & > p {
            font-size: 16px;
            line-height: 32px;
          }
        }

        & > ul {
          margin-top: 4px;
          margin-left: 96px;
          width: 520px;

          li {
            position: relative;
            font-size: 16px;
            color: #36435c;
            margin-bottom: 20px;
            line-height: 1.4;
          }

          li::before {
            content: "";
            display: block;
            position: absolute;
            top: 6px;
            left: -16px;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #00a971;
          }
        }

        & > img {
          position: absolute;
          max-width: 365px;
          bottom: -50px;
          right: -16px;
        }
      }

      & > div:nth-child(2) {
        display: block;
      }
    }
  }

  @media only screen and (max-width: $mobile-max-width) {
    height: auto;
    margin-top: 0px;
    padding-top: 50px;
    padding-bottom: 60px;

    & > div {
      & > p {
        width: 100%;
      }

      & > div {
        padding: 0;
        margin: 0;

        & > ul {
          width: 100%;
          height: auto;
          margin: 0 auto 80px;
          flex-direction: row;
          border-top: solid 1px #ccd3db;
          border-left: none;

          li {
            margin-top: -1px;
            width: 25%;
            padding: 0;
            text-align: center;
            border-top: 2px solid transparent;
          }

          .active {
            font-size: 16px;
            border-top: 2px solid #4ca986;
            border-left: none;
          }
        }

        & > div {
          width: 100%;
          height: auto;

          & > .top {
            width: 90%;
            height: auto;
            margin: 0 auto;
            padding: 18px 16px;
          }

          & > ul {
            width: 90%;
            margin: 4px auto 30px;

            li {
              margin-left: 16px;
            }
          }

          & > img {
            display: none;
          }
        }
      }
    }
  }
}

.section-4 {
  position: relative;
  box-sizing: border-box;
  height: 1059px;
  margin-top: -300px;
  // margin-bottom: -500px;
  padding-top: 255px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("/images/home/5.png");
  overflow: hidden;
  z-index: 2;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   height: 50vh; /* 占据视口高度的一半 */
  //   background-color: #f5f8f9; /* 上半部分颜色 */
  //   z-index: -1;
  // }
  // &::after {
  //   content: "";
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //   height: 50vh; /* 占据视口高度的一半 */
  //   background-color: #f5f8f9; /* 下半部分颜色 */
  //   z-index: -1;
  // }

  .title-white-h2 {
    margin-bottom: 64px;
    text-align: center;
  }

  & > .bg-1 {
    position: absolute;
    top: 620px;
    right: 50%;
    transform: translateX(300px);
  }

  & > .bg-2 {
    position: absolute;
    top: 430px;
    left: 50%;
    transform: translateX(540px);
  }

  & > div {
    position: relative;

    & > div {
      width: 471px;

      h2 {
        margin-bottom: 64px;
      }

      & > p {
        height: 96px;
        opacity: 0.9;
        color: #ffffff;
      }
    }

    & > ul {
      display: flex;
      gap: 24px;
      li {
        position: relative;
        width: 573px;

        padding: 26px 32px 32px;

        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06),
          0 8px 16px 0 rgba(36, 46, 66, 0.05);
        background-color: #ffffff;

        .top-line {
          position: absolute;
          left: 0;
          top: 0;
          height: 6px;
          width: 100%;
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
        }

        .grape {
          background-image: linear-gradient(to right, #6e56d8 3%, #ac6ef2 100%);
        }

        .red {
          background-image: linear-gradient(91deg, #fa6400 18%, #fff8cb 96%);
        }

        .green {
          background-image: linear-gradient(to bottom, #86dba2, #00a971);
        }

        .orange {
          background-image: linear-gradient(to top, #ecaf24, #fff8cb);
        }

        .img-span-div {
          margin-top: 26px;
          margin-left: 32px;

          span {
            height: 24px;
            margin-left: 16px;
            font-size: 20px;
            font-weight: 600;
            line-height: 1.2;
            color: #31383e;
          }
        }

        .common-content {
          margin-top: 24px;
        }
        .content-p {
          margin-top: 16px;
          margin-bottom: 64px;
        }

        .green-a {
          color: #00a971;
        }
      }
    }
  }

  @media only screen and (max-width: $mobile-max-width) {
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 50px;
    padding-bottom: 40px;
    background-image: none;
    background-image: linear-gradient(to right, #229875 -32%, #0d4b5b 109%);

    & > .bg-1 {
      display: none;
    }

    & > .bg-2 {
      display: none;
    }

    & > div {
      & > div {
        width: 100%;

        & > p {
          height: auto;
          text-align: center;
        }

        ul {
          margin-top: 20px;
        }

        ul > li {
          display: flex;

          img {
            width: 41px;
            height: 41px;
          }

          div {
            width: auto;
          }
        }
      }

      & > ul {
        flex-direction: column;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;

        li {
          height: auto;
          padding-bottom: 20px;

          .middle-line {
            display: none;
          }

          .img-span-div {
            display: flex;
            margin-right: 30px;

            span {
              height: auto;
            }
          }

          div > p {
            width: auto;
            margin-right: 30px;
          }

          span,
          a {
            position: relative;
            top: 0px;
            left: 0px;
            margin-left: 30px;
            margin-top: 10px;
          }
        }
      }
    }
  }
}

.section-5 {
  box-sizing: border-box;
  // height: 1909px;
  // padding-top: 700px;

  & > div {
    h2 {
      text-align: center;
    }

    & > div {
      position: relative;
      margin-top: 50px;
      font-size: 0;
      padding: 24px 12px 12px;
      margin-right: -12px;
      margin-left: -12px;
      background-color: #f5f8f9;

      .front-div {
        width: 280px;
        text-align: center;
        p {
          width: 280px;
          height: 84px;
          margin-top: 24px;
          margin-bottom: 12px;
          line-height: 84px;
          border-radius: 10px;
          font-size: 16px;
          font-weight: 600;
          color: #171c34;
          box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.05);
          background-color: #ffffff;
          text-shadow: 0 4px 8px rgba(35, 45, 65, 0.1);
        }

        ul {
          padding: 24px 25px 29px 29px;
          border-radius: 10px;
          box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.05);
          background-color: #ffffff;
          li {
            margin-bottom: 24px;
            img {
              width: 229px;
              height: 160px;
              object-fit: contain;
              box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.05);
            }
          }
          li:last-child {
            margin-bottom: 0;
          }
        }
      }

      .back-div {
        width: 867px;
        margin-left: 13px;

        h3 {
          text-align: center;
        }

        & > .group {
          box-sizing: border-box;
          height: 84px;
          margin-top: 24px;
          margin-bottom: 12px;
          padding: 24px 40px;
          border-radius: 10px;
          box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.05);
          background-color: #ffffff;

          p {
            display: inline-block;
            height: 24px;
            margin-top: 6px;
            text-shadow: 0 4px 8px rgba(35, 45, 65, 0.1);
            font-size: 16px;
            font-weight: 600;
            line-height: 1.5;
            color: #171c34;
          }

          ul {
            display: inline-block;
            margin-left: 30px;
            li {
              display: inline-block;
              height: 36px;
              padding: 0 20px;
              margin-left: 8px;
              border-radius: 4px;
              background-color: #fbf3dd;
              line-height: 36px;
              font-size: 14px;
              font-weight: 600;
              letter-spacing: 0.27px;
              color: #31383e;
            }
          }
        }

        & > .image {
          box-sizing: border-box;
          height: 581px;
          padding: 24px 38px;
          font-size: 12px;
          border-radius: 10px;
          box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.05);
          background-color: #ffffff;
          overflow: hidden;
          font-size: 0;

          img {
            position: relative;
            width: 790px;
            animation: scrollUp 30s linear infinite;
          }
        }
      }
    }
  }

  @media only screen and (max-width: $mobile-max-width) {
    height: auto;
    padding-top: 66px;

    & > div {
      & > div {
        margin-top: 30px;

        .front-div {
          width: 100%;

          p {
            width: 100%;
          }

          ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            li {
              width: 30%;
              margin-bottom: 0;

              img {
                width: 100%;
                height: auto;
              }
            }
          }
        }

        .back-div {
          width: 100%;
          margin-top: 30px;
          margin-left: 0;

          .group {
            height: auto;
            padding: 20px 14px;

            p {
              display: block;
              margin-bottom: 12px;
              text-align: center;
            }

            ul {
              display: block;
              margin-left: 0;
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;

              li {
                box-sizing: border-box;
                width: 48%;
                height: auto;
                margin-top: 8px;
                margin-left: 0;
                padding: 0px;
                text-align: center;
              }
            }
          }

          .image {
            padding: 10px;
            height: 300px;
            img {
              width: 100%;
              animation: scrollUp 60s linear infinite;
            }
          }
        }
      }
    }
  }
}

@keyframes scrollUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

.section-6 {
  position: relative;
  box-sizing: border-box;
  margin-top: -300px;
  padding-top: 225px;
  background-color: #f5f8f9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("/images/home/6.png");
  overflow-x: hidden;

  .bg-1 {
    position: absolute;
    top: 430px;
    right: 50%;
    transform: translateX(-500px);
  }

  .bg-2 {
    position: absolute;
    top: 580px;
    right: 50%;
    transform: translateX(650px);
  }

  & > div {
    position: relative;
    text-align: center;
    z-index: 2;

    & > p {
      width: 965px;
      margin: 12px auto;
    }

    ul {
      margin-top: 59px;
      margin-bottom: 45px;
      li {
        cursor: pointer;
        margin-bottom: 16px;
        box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06),
          0 8px 16px 0 rgba(36, 46, 66, 0.05);
        background-color: #fff;
        &:hover {
          transform: scale(1.1);
          transition: transform 0.3s ease;
        }
      }
      img {
        width: 210px;
        height: 100px;
        object-fit: contain;
      }
    }

    button {
      width: 263px;
      height: 56px;
      border-radius: 28px;
      border: none;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: -0.04px;
      color: #ffffff;
      cursor: pointer;
      box-shadow: 0 10px 50px 0 rgba(34, 43, 62, 0.1),
        0 8px 16px 0 rgba(33, 43, 61, 0.2), 0 10px 50px 0 rgba(34, 43, 62, 0.1);
      background-image: linear-gradient(
          to bottom,
          rgba(85, 188, 138, 0),
          rgba(85, 188, 138, 0.1) 97%
        ),
        linear-gradient(to bottom, #55bc8a, #55bc8a);

      &:hover {
        box-shadow: none;
      }
    }

    & > .link-div {
      margin-top: 14px;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: -0.04px;
      text-align: center;
      a {
        color: #31383e;
        font-weight: 450;
        text-decoration: underline;
        &:hover {
          color: #55bc8a;
        }
      }
    }

    & > .join-div {
      display: block;
      position: relative;
      box-sizing: border-box;
      margin-top: 90px;
      height: 110px;
      padding: 25px 266px 0 55px;
      text-align: left;
      border-radius: 12px;
      background-color: #ffffff;
      box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06),
        0 8px 16px 0 rgba(36, 46, 66, 0.05);

      &:hover {
        background-image: linear-gradient(99deg, #4a499a 29%, #8552c3 80%);

        .p1,
        .p2 {
          color: #ffffff;
        }
      }

      .p1 {
        font-size: 20px;
        color: #30313b;
      }

      .p2 {
        margin-top: 4px;
        opacity: 0.8;
        font-size: 16px;
        line-height: 2;
        color: #919aa3;
      }

      & > img {
        position: absolute;
        bottom: 0;
        right: 45px;
      }
    }

    .bottom-img {
      width: 639px;
      height: 72px;
      margin-top: 95px;
      object-fit: contain;
    }
  }

  @media only screen and (max-width: $mobile-max-width) {
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 50px;
    padding-bottom: 40px;
    background-image: none;
    overflow: hidden;

    .bg-1 {
      display: none;
    }

    .bg-2 {
      display: none;
    }

    & > div {
      & > p {
        width: 100%;
      }

      & > ul {
        margin-top: 20px;
        margin-bottom: 40px;

        img {
          width: 160px;
          height: 76px;
        }
      }

      & > .join-div {
        height: auto;
        padding: 25px 17px 129px;

        img {
          height: 140px;
          right: 10px;
        }
      }

      .bottom-img {
        margin-top: 30px;
        width: 100%;
        height: auto;
      }
    }
  }
}

.section-7 {
  background-color: #fff;
  .title-black-h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
  }

  img {
    width: 1160px;
  }
}

.meet-div {
  z-index: 100;
  position: fixed;
  right: 32px;
  bottom: 32px;
  width: 320px;
  padding-top: 44px;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(36, 46, 66, 0.4);
  border: solid 1px #d1d7df;
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
  background-image: url("/images/home/group-20.svg");

  .close {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
  }

  .img-2 {
    margin-top: 22px;
  }

  p {
    margin: 20px 0;
  }

  .img-3 {
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }

  .img-4 {
    margin-top: 24px;
    margin-bottom: 29px;
  }
}

.join-us {
  display: none;
  position: fixed;
  z-index: 15;
  right: 20px;
  bottom: 16px;
  width: 280px;
  height: 406px;
  text-align: center;
  background-color: #ffffff;
  background-image: url("/images/home/modal-bg.svg");
  background-size: cover;
  box-shadow: 0px 8px 16px rgba(36, 46, 66, 0.05),
    0px 4px 8px rgba(36, 46, 66, 0.06);
  border-radius: 4px;

  @media (min-width: 768px) {
    width: 336px;
    height: 383px;
  }

  @media (min-width: 1360px) {
    right: 50%;
    transform: translateX(580px);
  }

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .close {
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
  }

  .modalImage {
    margin-top: 40px;
  }

  h2 {
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    color: #242e42;
  }

  .title {
    font-size: 20px;
    line-height: 20px;
  }

  & > p {
    margin: 8px 14px 0;
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    color: #404f68;
  }

  & > div {
    margin-top: 4px;
    display: flex;
    justify-content: center;
    font-size: 0;

    p {
      font-size: 12px;
    }
  }

  .slack {
    p {
      width: 90px;
      height: 28px;
      text-align: center;
      background: #059669;
      border: 1px solid #479e88;
      box-sizing: border-box;
      border-radius: 2px;

      a {
        line-height: 28px;
        color: #ffffff;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .wechat {
    margin-left: 48px;
    img {
      margin-top: 12px;
    }
    p {
      margin-top: 16px;
    }
  }
}

footer {
  background: #ffffff;

  @media only screen and (max-width: $mobile-max-width) {
    background-color: #f5f8f9;
  }
}

.modal-for-video {
  display: none;
  z-index: 20;
  position: absolute;
  height: 608px;
  width: 1080px;
  max-width: 1080px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  border-radius: 0;
  font-size: 0;

  .video-div {
    height: 100%;
    width: 100%;

    video {
      height: 100%;
      width: 100%;
    }
    iframe {
      height: 100%;
      width: 100%;
    }
  }

  @media only screen and (max-width: $mobile-max-width) {
    width: 80%;
    height: 24.5%;
  }
}

.close-video {
  cursor: pointer;
  position: absolute;
  z-index: 20;
  height: 32px;
  width: 32px;
  border-radius: 16px;
  overflow: hidden;
  right: -15px;
  top: -10px;
}

.shadow {
  position: absolute;
  overflow: hidden;
  z-index: 18;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
}

.test {
  position: absolute;
}
