@import 'open-source';

.section-1 {
  position: relative;
  padding-top: 124px;
  padding-bottom: 136px;
}

.section-3 {
  background-color: #fff;
  padding-top: 60px;
  padding-bottom: 100px;

  @media only screen and (max-width: $mobile-max-width) {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  & > div {

    & > .video-tab-ul {
      padding: 30px 34px 22px;
      border-radius: 5px;
      box-shadow: 0 4px 16px 0 rgba(7,42,68,.1);
      background-color: #fff;

      li {
        display: inline-block;
        min-width: 48px;
        padding: 8px 16px;
        margin-bottom: 8px;
        border-radius: 20px;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        text-align: center;

        &:hover {
          box-shadow: 0 8px 16px 0 rgba(101,193,148,.2),0 0 50px 0 rgba(101,193,148,.1);
          background-color: #55bc8a;
          color: #fff;
        }
      }
      .active {
        box-shadow: 0 8px 16px 0 rgba(101,193,148,.2),0 0 50px 0 rgba(101,193,148,.1);
        background-color: #55bc8a;
        color: #fff;
      }

      li + li {
        margin-left: 12px;
      }
    }

    .video-ul {
      margin-top: 20px;
      font-size: 0;
      @media only screen and (max-width: $mobile-max-width) {
        text-align: center;
      }

      & > li {
        position: relative;
        display: inline-block;
        width: 360px;
        height: 202px;
        border-radius: 4px;
        margin-bottom: 40px;
        margin-right: 40px;
        background-color: #eef4f8;
        background-image: url('/images/videos/video-bg.svg');
        overflow: hidden;
        text-align: left;
        cursor: pointer;

        & > img {
          width: 100%;
          height: 100%;
        }

        &:hover {
          & > div {
            height: 202px;
          }
        }

        & > div {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 70px;
          opacity: 0.89;
          background-color: #171c34;
          transition: all .2s ease-in-out;
          overflow: hidden;

          & > .btn {
            position: absolute;
            left: 50%;
            bottom: 120px;
            transform: translateX(-50%);
          }

          & > div {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 70px;
            padding: 0 16px;

            h3 {
              font-size: 16px;
              font-weight: 500;
              line-height: 22px;
              color: #fff;
              padding: 8px 0;
              margin-bottom: 6px;
              border-bottom: 1px solid hsla(0,0%,100%,.1);
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }

            p {
              font-size: 14px;
              line-height: 20px;
              color: #919aa3;
            }

            .time {
              position: absolute;
              right: 16px;
              bottom: 6px;
            }
          }
        }

        @media only screen and (max-width: $mobile-max-width) {
          width: 330px;
          height: 190px;
          display: block;
          margin: 30px auto;
        }
      }

      li:nth-child(3n) {
        margin-right: 0;

        @media only screen and (max-width: $mobile-max-width) {
          margin: 30px auto;
        }
      }
    }

    & > div {
      margin-top: 20px;
      text-align: center;

      li {
        display: inline-block;
        margin: 0 10px;
      }

      .disabled {
        a {
          color: #ccd3db;
        }
      }

      .active {
        a {
          color: #55bc8a;
        }
      }
    }
  }
}

.jquery-modal {
  z-index: 10;
  background-color: rgba(23, 28, 52, 0.5);
}

#modal-for-video {
  width: 750px;
  max-width: 750px;
  height: 420px;
  padding: 0;
  border-radius: 0;
  font-size: 0;
  
  .video-div {
    height: 100%;
  }

  video {
    width: 100%;
    height: 100%;
    background-color: #171c34;
    outline: none;
  }

  a {
    top: -40px;
    right: 0;
  }

  @media only screen and (max-width: $mobile-max-width) {
    width: 100%;
    max-width: 100%;
    height: auto;
    
    iframe {
      width: 100%;
      height: 300px;
    }
  }
}