@import 'variables';
@import 'mixin';

.btn-a {
  display: inline-block;
  padding: 0 53px;
  height: 56px;
  border-radius: 28px;
  line-height: 56px;
  font-size: 16px;
  color: #ffffff;
  box-shadow: 0 10px 50px 0 rgba(34, 43, 62, 0.1), 0 8px 16px 0 rgba(33, 43, 61, 0.2), 0 10px 50px 0 rgba(34, 43, 62, 0.1);
  background-image: linear-gradient(to bottom, rgba(85, 188, 138, 0), rgba(85, 188, 138, 0.1) 97%), linear-gradient(to bottom, #55bc8a, #55bc8a);

  &:hover {
    box-shadow: none;
  }
}

.section-1 {
  position: relative;
  padding-top: 124px;
  padding-bottom: 136px;
}

.section-2 {
  position: relative;
  margin-top: -94px;

  .common-layout {
    display: flex;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06), 0 8px 16px 0 rgba(36, 46, 66, 0.05);
    overflow: hidden;
    background-color: #ffffff;

    @media only screen and (max-width: $mobile-max-width) {
      flex-direction: column;
      border-radius: 0;
    }

    .live-2-left {
      position: relative;
      width: 840px;
      height: 400px;

      @media only screen and (max-width: $mobile-max-width) {
        width: 100%;
        height: auto;
      }

      img {
        width: 100%;
        height: 100%;
        min-height: 200px;
        object-fit: cover;
      }

      button {
        position: absolute;
        right: 20px;
        bottom: 20px;
        padding: 10px 20px;
        border-radius: 28px;
        font-size: 16px;
        color: #ffffff;
        border: none;
        cursor: pointer;
        box-shadow: 0 10px 50px 0 rgba(34, 43, 62, 0.1), 0 8px 16px 0 rgba(33, 43, 61, 0.2), 0 10px 50px 0 rgba(34, 43, 62, 0.1);
        background-image: linear-gradient(to bottom, rgba(85, 188, 138, 0), rgba(85, 188, 138, 0.1) 97%), linear-gradient(to bottom, #55bc8a, #55bc8a);

        &:hover {
          box-shadow: none;
        }
      }
    }

    .live-2-right {
      box-sizing: border-box;
      width: 320px;
      height: 400px;
      padding: 10px;

      @media only screen and (max-width: $mobile-max-width) {
        max-width: 320px;
        width: auto;
        height: auto;
        margin: 0 auto;
      }

      h2 {
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 1.78;
        letter-spacing: -0.05px;
        color: #3d3e49;
        @include block-ellipsis(2);
      }

      .tag {
        position: absolute;
        top: 4px;
        right: 0;
        font-size: 12px;
        padding: 4px 10px;
        line-height: 12px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }

      .shadow {
        position: relative;
        padding: 20px 24px;
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06), 0 8px 16px 0 rgba(36, 46, 66, 0.05);
      }

      .notice {
        box-sizing: border-box;
        height: 250px;

        p {
          margin-bottom: 6px;
          height: 28px;
          font-size: 16px;
          line-height: 28px;
          letter-spacing: -0.04px;
          color: #919aa3;

          img {
            vertical-align: middle;
            margin-right: 4px;
          }
        }

        a {
          margin: 34px auto 0;
          height: 40px;
          padding: 0 28px;
          line-height: 40px;
        }

        .tag {
          color: #3d3e49;
          background-color: #f7b500;
        }
      }

      .over {
        box-sizing: border-box;
        height: 120px;
        margin-top: 10px;

        a {
          color: #3d3e49;
        }

        .tag {
          color: #ffffff;
          background-color: #919aa3;
        }
      }
    }
  }
}

.section-3 {
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 60px;

  @media only screen and (max-width: $mobile-max-width) {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  &>div {

    &>.video-tab-ul {
      padding: 0 34px;
      border-radius: 5px;
      box-shadow: 0 4px 16px 0 rgba(7, 42, 68, .1);
      background-color: #fff;

      li {
        display: inline-block;
        min-width: 48px;
        padding: 8px 16px;
        margin: 10px 0;
        border-radius: 20px;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        text-align: center;

        &:hover {
          box-shadow: 0 8px 16px 0 rgba(101, 193, 148, .2), 0 0 50px 0 rgba(101, 193, 148, .1);
          background-color: #55bc8a;
          color: #fff;
        }
      }

      .active {
        box-shadow: 0 8px 16px 0 rgba(101, 193, 148, .2), 0 0 50px 0 rgba(101, 193, 148, .1);
        background-color: #55bc8a;
        color: #fff;
      }

      li+li {
        margin-left: 12px;
      }
    }

    .video-ul {
      margin-top: 20px;
      font-size: 0;

      @media only screen and (max-width: $mobile-max-width) {
        text-align: center;
      }

      &>li {
        position: relative;
        display: inline-block;
        width: 360px;
        height: 202px;
        border-radius: 4px;
        margin-bottom: 40px;
        margin-right: 40px;
        background-color: #eef4f8;
        background-image: url('/images/videos/video-bg.svg');
        overflow: hidden;
        text-align: left;
        cursor: pointer;

        &>img {
          width: 100%;
          height: 100%;
        }

        &:hover {
          &>div {
            height: 202px;
          }
        }

        &>div {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 70px;
          opacity: 0.89;
          background-color: #171c34;
          transition: all .2s ease-in-out;
          overflow: hidden;

          &>.btn {
            position: absolute;
            left: 50%;
            bottom: 120px;
            transform: translateX(-50%);
          }

          &>div {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 70px;
            padding: 0 16px;

            h3 {
              font-size: 16px;
              font-weight: 500;
              line-height: 22px;
              color: #fff;
              padding: 8px 0;
              margin-bottom: 6px;
              border-bottom: 1px solid hsla(0, 0%, 100%, .1);
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }

            p {
              font-size: 14px;
              line-height: 20px;
              color: #919aa3;
            }

            .time {
              position: absolute;
              right: 16px;
              bottom: 6px;
            }
          }
        }

        @media only screen and (max-width: $mobile-max-width) {
          width: 330px;
          height: 190px;
          display: block;
          margin: 30px auto;
        }
      }

      li:nth-child(3n) {
        margin-right: 0;

        @media only screen and (max-width: $mobile-max-width) {
          margin: 30px auto;
        }
      }
    }

    &>div {
      margin-top: 20px;
      text-align: center;

      li {
        display: inline-block;
        margin: 0 10px;
      }

      .disabled {
        a {
          color: #ccd3db;
        }
      }

      .active {
        a {
          color: #55bc8a;
        }
      }
    }
  }
}

.jquery-modal {
  z-index: 10;
  background-color: rgba(23, 28, 52, 0.5);
}

#modal-for-video {
  width: 750px;
  max-width: 750px;
  height: 420px;
  padding: 0;
  border-radius: 0;
  font-size: 0;

  .video-div {
    height: 100%;
  }

  video {
    width: 100%;
    height: 100%;
    background-color: #171c34;
    outline: none;
  }

  a {
    top: -40px;
    right: 0;
  }

  @media only screen and (max-width: $mobile-max-width) {
    width: 100%;
    max-width: 100%;
    height: auto;

    iframe {
      width: 100%;
      height: 300px;
    }
  }
}


.common-layout-special {
  white-space: nowrap;
  overflow: auto;
  height: 535px;
  background-image: linear-gradient(147.87deg, #4A499A 16%, #8552C3 85.01%);

  @media only screen and (max-width: $mobile-max-width) {
    width: 100%;
    height: auto;
  }

  .meetup-box {
    max-width: 1320px;
    margin: 0 auto;

    @media only screen and (max-width: $mobile-max-width) {
      width: 100%;
    }

    .meetup-title {
      font-size: 32px;
      line-height: 45px;
      color: #fff;
      text-align: center;
      padding-top: 56px;
    }

    .innerBox {
      padding: 0px 80px;
      position: relative;

      @media only screen and (max-width: $mobile-max-width) {
        width: 100%;
        box-sizing: border-box;
        padding: 0 20px;
      }

      &>ul {
        margin-top: 16px;
        display: flex;
        overflow: scroll;
        background: linear-gradient(to top, rgba(255, 255, 255, 0.08) 5%, transparent 5%) no-repeat;

        li {
          width: 80px;
          height: 40px;
          line-height: 24px;
          color: rgba(255, 255, 255, 0.15);
          display: flex;
          justify-content: center;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;
        }

        .active {
          color: rgba(255, 255, 255, 0.7);
          border-bottom: solid 2px rgba(255, 255, 255, 0.7);
        }
      }

      .yearBox {
        display: flex;
        align-items: center;
        min-height: 377px;

        .hiddenUl {
          display: none;
        }

        .autoMeetUp {
          width: 100%;
          height: 260px;
          margin: 0 auto;
          display: flex;
          position: relative;

          .swiper-slide {
            display: flex;
            overflow: hidden;
          }

          li {
            height: 258px;
            position: relative;

            &:nth-child(2) {
              margin: 0 20px;
            }

            p {
              text-align: center;
              font-weight: 500;
              font-size: 20px;
              line-height: 28px;
              color: #FFFFFF;
            }

            .imgBox {
              position: relative;

              img {
                margin-top: 20px;
                width: 373px;
                height: 210px;
              }

              button {
                position: absolute;
                right: 12px;
                bottom: 14px;
                padding: 9px 16px;
                border-radius: 16px;
                font-size: 8px;
                color: #fff;
                border: none;
                cursor: pointer;
                box-shadow: 0 10px 50px 0 rgba(34, 43, 62, 0.1), 0 8px 16px 0 rgba(33, 43, 61, 0.2), 0 10px 50px 0 rgba(34, 43, 62, 0.1);
                background-image: linear-gradient(to bottom, rgba(85, 188, 138, 0), rgba(85, 188, 138, 0.1) 97%), linear-gradient(to bottom, #55bc8a, #55bc8a);

                &:hover {
                  box-shadow: none;
                }
              }
            }

          }

          @media only screen and (max-width: 375px) {
            .swiper-slide {
              display: flex;
              flex-direction: column;
              align-items: center;
            }

            li {

              &:nth-child(2) {
                margin: 0 0;
              }

              img {
                width: 100% !important;
              }
            }
          }

          @media only screen and (min-width: 376px) and (max-width: $mobile-max-width) {

            .swiper-slide {
              display: flex;
              flex-direction: column;
              align-items: center;
            }

            li {
              &:nth-child(2) {
                margin: 0 0;
              }

              img {
                width: 373px !important;
              }
            }
          }

          @media only screen and (min-width: 769px) and (max-width: 1160px) {

            li {
              flex-direction: column;
              align-items: center;

              img {
                width: 320px !important;
                height: 180px !important;
              }

              button {
                right: 10px;
                bottom: 40px;
              }
            }
          }
        }

        .prev-button {
          display: block;
          background: url('/images/live/arrow.svg');
          width: 40px;
          height: 40px;
          position: absolute;
          bottom: 153.5px;
          left: 0px;
          transform: rotate(180deg);
          cursor: pointer;

          @media only screen and (max-width: 767px) {
            display: none;
          }

          @media only screen and (min-width: $mobile-max-width) and (max-width: 1160px) {
            left: 20px;
            z-index: 200;
          }

          &:hover {
            background: url('/images/live/arrow-hover.svg');
          }
        }

        .next-button {
          display: block;
          background: url('/images/live/arrow.svg');
          width: 40px;
          height: 40px;
          position: absolute;
          bottom: 153.5px;
          right: 0px;
          cursor: pointer;

          @media only screen and (max-width: 767px) {
            display: none;
          }

          @media only screen and (min-width: $mobile-max-width) and (max-width: 1160px) {
            right: 20px;
            z-index: 200;
          }

          &:hover {
            background: url('/images/live/arrow-hover.svg');
          }

        }
      }
    }
  }
}


.section-5 {
  .common-layout {
    position: relative;
    padding-top: 100px;
    padding-left: 60px;
    padding-bottom: 30px;

    @media only screen and (max-width: $mobile-max-width) {
      padding-left: 20px;
    }

    .left-div {
      position: relative;
      width: 600px;

      @media only screen and (max-width: $mobile-max-width) {
        width: 100%;
        z-index: 2;
      }

      h2 {
        font-size: 32px;
        font-weight: 600;
        line-height: 1.63;
        color: #171c34;
        text-shadow: 0 4px 8px rgba(35, 45, 65, 0.1);
      }

      p {
        margin-top: 13px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: -0.04px;
        color: #31383e;
      }

      a {
        margin-top: 18px;
      }
    }

    &>img {
      position: absolute;
      top: 88px;
      right: 0;

      @media only screen and (max-width: $mobile-max-width) {
        opacity: 0.3;
      }
    }
  }
}