@mixin common-center-div-style {
  width: 1160px;
  margin: 0 auto;
}

@mixin common-p-style {
  font-size: 16px;
  line-height: 2;
  color: #919aa3;
}

@mixin common-title-style {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.06px;
  color: #3e464c;
}

@mixin common-h2-style {
  text-shadow: 0 4px 8px rgba(35, 45, 65, 0.1);
  font-size: 32px;
  font-weight: bold;
  line-height: 1.63;
  color: #171c34;
}



@mixin common-flex-style {
  display: flex;
  flex-wrap: wrap ;
  justify-content: space-between;
}

@mixin common-content-div-style {
  width: 1160px;
  margin: 0 auto;
}