.open-source-header {
  text-align: center;
  height: 300px;
  color: #ffffff;

  & > img {
    width: 100%;
    height: 100%;
    object-fit:cover;
  }

  & > div {
    position: absolute;
    top: 129px;
    left: 0;
    right: 0;
    text-align: center;
  }

  h1 {
    height: 40px;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    font-size: 40px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: -0.11px;
    color: #ffffff;
  }

  p {
    height: 24px;
    margin-top: 12px;
    margin-bottom: 16px;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.04px;
    text-align: center;
    color: #ffffff;
  }

  button {
    height: 48px;
    border-radius: 30px;
    font-size: 16px;
    padding: 7px 20px;
    font-weight: 600;
    color: #fff;
    line-height: 1.5;
    text-align: center;
    border: none;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    box-sizing: border-box;
    vertical-align: middle;
    background-color: #242e42;
    box-shadow: 0 10px 50px 0 rgba(34,43,62,.1),0 8px 16px 0 rgba(33,43,61,.2);
    &:hover {
      box-shadow: none;
    }
    svg {
      width: 21px;
      height: 21px;
      margin-right: 12px;
      vertical-align: text-top;
    }
  }
}

.open-source-tab {
  width: 1160px;
  margin: 40px auto 0;
  text-align: center;
  li {
    position: relative;
    display: inline-block;
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: 600;
    color: #36435c;
    cursor: pointer;
  }
  li + li {
    margin-left: 40px;
  }
  a {
    color: rgb(48, 62, 90);
    &:hover {
      color: #4ca986;
    }
  }
  .active {
    color: #4ca986;
    &::after {
      position: absolute;
      bottom: -32px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      content: "";
      width: 0;
      height: 0;
      border: 1em solid transparent;
      border-bottom-color: #fff;
    }
  }

}