@import 'variables';
@import 'mixin';

.section-1 {
  position: relative;
  padding-top: 138px;
  padding-bottom: 100px;

  .title-div {
    text-align: center;
  }

  p {
    margin: 12px auto 0;
    letter-spacing: -0.04px;
    color: #ffffff;
  }
}

.section-2 {
  position: relative;
  & > img {
    width: 152px;
    position: absolute;
    right: 50%;
    bottom: -40px;
    transform: translateX(-490px);

    @media only screen and (max-width: $mobile-max-width) {
      display: none;
    }
  }
  & > div {
    display: flex;
    position: relative;
    z-index: 2;
    top: -40px;
    box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06);
    .left-div {
      position: relative;
      width: 470px;
      height: 298px;
      border-radius: 10px 0 0 10px;
      background-color: #ffffff;

      @media only screen and (max-width: $mobile-max-width) {
        width: 100%;
        height: auto;
        border-radius: 10px;
        padding: 20px;
      }

      div {
        width: 351px;
        height: 48px;
        margin: 38px 80px 12px 40px;

        @media only screen and (max-width: $mobile-max-width) {
          width: 100%;
          margin: 0;
        }
      }
      p {
        width: 391px;
        height: 160px;
        margin-left: 40px;
        line-height: 2;

        @media only screen and (max-width: $mobile-max-width) {
          width: 100%;
          height: auto;
          margin: 0;
        }
      }
      .img-1 {
        position: absolute;
        top: 0;
        left: 0;
      }
      .img-2 {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
    .right-div {
      position: relative;
      width: 690px;
      height: 298px;
      border-radius: 0 10px 10px 0;
      background-color: #3d3e49;

      @media only screen and (max-width: $mobile-max-width) {
        display: none;
      }

      & > img {
        margin-top: 107px;
        margin-left: 45px;
      }

      .btn-div {
        position: absolute;
        width: 92px;
        height: 27px;
        font-size: 14px;
        line-height: 27px;
        text-align: center;
        color: #ffffff;
        border-radius: 100px;
        box-shadow: 0 2px 8px 0 rgba(250, 164, 66, 0.5);
        background-image: linear-gradient(107deg, #fdba39 20%, #f2635e 99%);
        cursor: pointer;

        &:hover {
          & > div {
            display: block;
          }
        }

        div {
          display: none;
          position: absolute;
          top: -60px;
          left: 50%;
          width: 140px;
          height: 50px;
          transform: translateX(-50%);
          border-radius: 10px;
          background: #ffffff;

          img {
            width: 95px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          &::after {
            content: '';
            width: 0;
            height: 0;
            position: absolute;
            border: 4px solid transparent;
            border-top-color: #ffffff;
            bottom: -8px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }

      .div-1 {
        top: 116px;
        left: 85px;
        background-image: linear-gradient(107deg, #f2635e 20%, #fdba39 99%);
      }

      .div-2 {
        top: 89px;
        left: 294px;
      }

      .div-3 {
        top: 92px;
        right: 97px;
      }
    }
  }
}

.section-3 {
  padding-top: 54px;
  background-image: url('/images/partner/oval-4.svg');
  background-position: center top;
  background-repeat: no-repeat;

  & > div {
    h2 {
      text-align: center;
    }

    ul {
      margin-top: 20px;

      @media only screen and (max-width: $mobile-max-width) {
        justify-content: center;
      }

      li {
        width: 570px;
        height: 309px;
        border-radius: 10px;
        margin-top: 20px;
        box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06), 0 8px 16px 0 rgba(36, 46, 66, 0.05);
        background-color: #ffffff;

        @media only screen and (max-width: $mobile-max-width) {
          height: auto;
        }

        h3 {
          margin: 40px 40px 20px;
        }

        p {
          height: 128px;
          margin-left: 40px;
          margin-right: 40px;
          line-height: 2;

          @media only screen and (max-width: $mobile-max-width) {
            height: auto;
          }
        }

        div {
          margin-left: 40px;
          margin-top: 20px;
          margin-bottom: 20px;
          font-weight: 600;
          line-height: 1.5;
        }
      }
    }
  }
}

.section-4 {
  & > div {
    margin-top: 80px;
    h2 {
      text-align: center;
    }

    ul {
      margin-top: 20px;
      font-size: 0;

      @media only screen and (max-width: $mobile-max-width) {
        text-align: center;
      }

      li:nth-child(4n + 1) {
        margin-left: 0;

        @media only screen and (max-width: $mobile-max-width) {
          margin: 20px 10px 0;
        }

      }

      li {
        display: inline-block;
        margin-left: 20px;
        position: relative;
        width: 274px;
        height: 200px;
        margin-top: 20px;
        border-radius: 4px;
        box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06), 0 8px 16px 0 rgba(36, 46, 66, 0.05);
        background-color: #ffffff;

        @media only screen and (max-width: $mobile-max-width) {
          margin: 20px 10px 0;
        }

        &:hover {
          .content {
            display: block;
          }
        }

        img {
          width: 200px;
          height: 100px;
          margin: 50px 37px;
          object-fit: contain;
        }

        .type {
          position: absolute;
          top: 10px;
          right: 0;
          width: 106px;
          height: 32px;
          object-fit: contain;
          line-height: 32px;
          text-align: center;
          font-size: 12px;
          color: #ffffff;
          border-radius: 16px 0 0 16px;
          box-shadow: 0 2px 8px 0 rgba(250, 164, 66, 0.5);
          background-image: linear-gradient(108deg, #fdba39 20%, #f2635e 99%);
        }

        .content {
          display: none;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          padding: 20px 30px;
          background-image: radial-gradient(circle at -23% -21%, #cdf6d5, #089566 75%);
          font-size: 14px;
          line-height: 1.71;
          color: #ffffff;
        }
      }
    }
  }
}