
@import "variables";
@import "mixin";
@import "markdown";
@import "content";

.md-body {
  font-size: 16px;
  line-height: 2.29;
  color: #36435c;
}

.md-body h2 {
  font-weight: 500;
  line-height: 40px;
  text-shadow: none;
  text-align: left;
}

.md-body h3 {
  font-weight: 600;
  line-height: 1.5;
  color: #171c34;
}
