@import 'variables';
@import 'mixin';

html {
  background-color: #ffffff;
}

.section-1 {
  position: relative;
  padding-top: 129px;

  .title-div {
    position: relative;
    padding-bottom: 68px;

    p {
      margin-top: 25px;
      letter-spacing: -0.04px;
      color: #ffffff;
      text-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    }

    .left-p {
      max-width: 730px;
    }

    .download-div {
      position: absolute;
      right: 0;
      bottom: 64px;
    }

    .center {
      position: relative;
      margin-top: 32px;
      text-align: center;
      bottom: 0;
    }

    @media only screen and (max-width: $mobile-max-width) {
      width: 100%;
      h1 {
        width: 100%;
      }

      p {
        width: 100%;
      }

      .download-div {
        position: relative;
        margin-top: 20px;
        text-align: center;
        bottom: 0;
      }
    }
  }
}

.section-img {
  position: relative;
  padding: 47px 0 65px 0;
  text-align: center;
  overflow: hidden;

  .bg {
    position: absolute;
    bottom: 0;
    right: 0;

    @media only screen and (max-width: $mobile-max-width) {
      display: none;
    }
  }
}

.section-2 {
  background-color: #f5f8f9;
  padding-top: 60px;
  padding-bottom: 40px;
  & > div {
    position: relative;

    .titleH2 {
      margin-bottom: 45px;
      text-align: center;
    }

    & > ul {
      & > li:nth-child(2n) {
        flex-direction: row-reverse;
      }
      & > li {
        align-items: center;
        margin-bottom: 150px;

        & > div {
          width: 460px;

          @media only screen and (max-width: $mobile-max-width) {
            width: 100%;
          }

          p {
            margin-top: 24px;
            opacity: 0.9;
            color: #3d3e49;
          }

          li {
            position: relative;
            margin-top: 25px;
            padding-left: 14px;

            &::before {
              content: '';
              position: absolute;
              display: block;
              width: 6px;
              height: 6px;
              top: 5px;
              left: 0;
              border-radius: 50%;
              background-color: #00a971;
            }

            span {
              font-weight: 600;
            }
          }
        }

        img {
          width: 660px;

          @media only screen and (max-width: $mobile-max-width) {
            width: 100%;
          }
        }
      }
    }
  }
}

.section-3 {
  position: relative;
  padding-top: 80px;
  padding-bottom: 50px;
  text-align: center;
  overflow: hidden;

  @media only screen and (max-width: $mobile-max-width) {
    padding-top: 40px;
  }

  .bg-left {
    position: absolute;
    top: 242px;
    right: 50%;
    transform: translateX(-200px);

    @media only screen and (max-width: $mobile-max-width) {
      display: none;
    }
  }

  .bg-right {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(180px);

    @media only screen and (max-width: $mobile-max-width) {
      display: none;
    }
  }

  & > div {
    position: relative;
    img {
      width: 955px;
      margin-top: 40px;

      @media only screen and (max-width: $mobile-max-width) {
        width: 100%;
      }
    }

    iframe {
      margin-top: 40px;
      margin-bottom: 56px;
      @media only screen and (max-width: $mobile-max-width) {
        width: 100%;
        height: 300px;
      }
    }
  
    p {
      letter-spacing: -0.04px;
      color: #31383e;
    }
  
    .lab {
      width: 263px;
      height: 56px;
      margin-top: 20px;
      letter-spacing: -0.04px;
      color: #ffffff;
      font-size: 16px;
      border-radius: 28px;
      cursor: pointer;
      box-shadow: 0 10px 50px 0 rgba(34, 43, 62, 0.1), 0 8px 16px 0 rgba(33, 43, 61, 0.2);
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1) 97%), linear-gradient(to bottom, #55bc8a, #55bc8a);
      &:hover {
        box-shadow: none;
      }
    }
  }

}

.footer {
  padding-top: 60px;
}