@import 'variables';
@import 'mixin';

$selected-div: 1, 3, 6, 8, 9, 11;

.section-1 {
	position: relative;
	padding-top: 138px;
	padding-bottom: 100px;

	.title-div {
		text-align: center;
	}

	p {
		margin: 12px auto 0;
		letter-spacing: -0.04px;
		color: #ffffff;
	}
}

.section-2 {
	padding-top: 80px;
	padding-bottom: 80px;
	position: relative;
	background-color: #ffffff;

	&>div {
		h2 {
			text-align: center;
		}
	}

}


.section-3 {
	padding-top: 80px;
	padding-bottom: 80px;
	position: relative;
	background-color: #F5F8F9;


	.contributor-list {
		margin-top: 20px;

		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		@media only screen and (max-width:$mobile-max-width) {
			justify-content: center;
		}

		.contributor-list-item {
			background-color: #ffffff;
			border: 1px solid #E3E9EF;
			width: 373px;
			height: 64px;
			border-radius: 8px;
			margin-top: 20px;
			transition: box-shadow 0.3s ease-in-out;

			&:hover {
				box-shadow: 0px 4px 16px 0px #072A4429;

				span {
					color: #00A971;
				}
			}

			.contributor-link {
				cursor: pointer;
				display: flex;
				justify-content: left;
				align-items: center;
				width: 100%;
				height: 100%;

				&>div {
					padding-left: 24px;

					padding-right: 18px;
				}
			}

			span {
				font-family: Roboto;
				font-size: 18px;
				font-weight: 500;
				line-height: 24px;
				text-align: center;
				transition: color 0.3s;
			}

		}
	}
}

.section-4 {
	padding-top: 80px;
	padding-bottom: 80px;
	position: relative;
	background-color: #ffffff;

	&>div {
		h2 {
			text-align: center;
		}
	}
}


.section-title {
	h2 {
		text-align: center;
	}

	.section-description {
		font-family: Roboto;
		color: #919AA3;
		padding: 4px 0;
		font-size: 16px;
		font-weight: 400;
		line-height: 32px;
		text-align: center;
	}
}

.scroll-container{
	margin-top: 40px;
	position: relative;
	overflow: hidden;
	height: calc(216px * 4 + 60px);
}

.member-grid.scroll {
	overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.member-grid.noscroll{
	margin-top: 40px;
}

.member-grid::-webkit-scrollbar{
	display: none;
}

.member-grid {
	position: relative;
	display: grid;
	grid-template-columns: repeat(5, 216px);
	justify-content: center;
	gap: 20px;
	width: 100%;
	height: 100%;
	
	// height: calc(216px * 4 + 60px);

	@media only screen and (max-width:$mobile-max-width) {
		grid-template-columns: repeat(2, 216px);
	}


	@media only screen and (max-width:512px) {
		grid-template-columns: repeat(1, 216px);
	}

	// treat a as block elem
	.member-profile-link {
		cursor: pointer;
		display: block;
		width: 100%;
		height: 100%;
	}


	.member-grid-item {
		position: relative;
		// width: 216px;
		height: 212px;
		border-radius: 8px;
		border: 1px solid var(--borderColor-subtler, #E3E9EF);
		overflow: hidden;

		
		.member-info-ctn {

			z-index: 2;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 168px;
			height: 164px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: column;

			img {
				width: 104px;
				height: 104px;
				background-color: #ffffff;
				border-radius: 50%;
			}

			.member-name-ctn {
				width: 100%;

				span {
					display: block;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}

				.member-name {
					font-family: Roboto;
					font-size: 18px;
					font-weight: 600;
					line-height: 24px;
					text-align: center;
					transition: color 0.3s;
				}

				.member-nickname {
					font-family: Roboto;
					font-size: 14px;
					font-weight: 400;
					line-height: 24px;
					text-align: center;
					color: #8F94A1;
				}
			}
		}

		transition: box-shadow 0.3s ease-in-out;

		// hover bg
		&:hover {

			box-shadow: 0px 4px 16px 0px #072A4429;

			.member-name {
				color: #00A971;
			}

			.member-bg-hover {
				opacity: 1;
			}
		}

		.member-bg-hover {
			position: absolute;
			z-index: 1;
			display: grid;
			top: -12px;
			left: 50%;
			transform: translateX(-50%);
			grid-template-columns: repeat(4, 63px);
			grid-template-rows: 54px 54px 39px;
			transition: opacity 0.3s;
			opacity: 0;

			&>div {
				border-top: 1px solid #E3E9EF;
				border-right: 1px solid #E3E9EF;
			}

			@each $d in $selected-div {
				&>div:nth-child(#{$d}) {
					@if $d < 5 {
						background: linear-gradient(172.48deg, rgba(0, 169, 113, 0.06) 35.12%, rgba(0, 169, 113, 0.06) 94.04%);
						opacity: 0.5;
					}

					@else if $d < 9 {
						background: linear-gradient(172.48deg, rgba(0, 169, 113, 0.06) 35.12%, rgba(0, 169, 113, 0.06) 94.04%);
						opacity: 0.5;
					}

					@else {
						background: linear-gradient(172.48deg, rgba(0, 169, 113, 0.06) 35.12%, rgba(0, 169, 113, 0) 94.04%);
						opacity: 0.4;
					}
				}
			}

		}
	}
}