{{ define "main" }}
{{- partial "openSource.html" . -}}
<section>
    <div class="tab-content">
        <div class="content common-layout">
            <ul>
                {{ $viewDetail := .Params.viewDetail }}
                {{ range .Params.list }}
                <li>
                    <div class='top-div' style="background: {{ .bgColor | safeCSS}}">
                        <img class='left-img' src="{{ .bg | relURL }}" alt="{{ .name }}">
                        <h3>{{ .name }} &nbsp; <span style="color:{{ .year.color }};font-size:{{ .year.fontSize }}">{{ .year.text }}</span></h3>
                        <p>{{ .content }}</p>
                        <img class='right-img' src="{{  .icon | relURL }}" alt="{{ .name }}">
                    </div>
                    <ul>
                        {{ range .children }}
                        <li>
                            <h4><a href="{{ .link }}">{{ .name }}</a></h4>
                            <div class='author'>{{ .author }}</div>
                            <p>{{ .summary }}</p>
                            <div class='line'></div>
                            <a href="{{ .link }}"><button>{{ $viewDetail }}</button></a>
                            <img src="{{ .image | relURL }}" alt="{{ .name }}">
                        </li>
                        {{ end }}
                    </ul>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</section>
{{ end }}