{{ define "main" }}
{{ with .Params.section1}}
<section class='section-1 bg-cover' style='background-image: url("{{ .image }}");'>
  <div class="title-div common-layout">
    <h1 class="title-h1">{{ .title }}</h1>
  </div>
</section>
{{ end }}
{{ with .Params.section2}}
<section class='section-2'>
  <div class="title-div common-layout">
    <h1 class="title-h1">{{ .title }}</h1>
    <ul>
      {{range .children}}
      <li>
        <img src="{{ .icon }}" alt="{{ .name }}">
        <h3 class="title-black-h3 ">{{ .name | safeHTML }}</h3>
        <p class="conetnt">{{ .content | safeHTML }}</p>
        {{if eq .label "extension"}}
        <p class="label label-green">{{ i18n "Extension" }}</p>
        {{else if eq .label "opensource"}}
        <p class="label label-gray">{{ i18n "Open Source Object" }}</p>
        {{end}}

      </li>
      {{end}}
    </ul>
    {{ end }}
  </div>
</section>
{{ end }}