<link rel="stylesheet" href="/fonts/Roboto/stylesheet.css">
<link rel="stylesheet" href="/fonts/ProximaNova/stylesheet.css">
<link rel="stylesheet" href="/css/jquery.modal.min.css">
<link rel="stylesheet" href="/css/viewer.min.css">
<link rel="stylesheet" href="/swiper/swiper-bundle.min.css">

{{ $common := resources.Get "scss/common.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $common.RelPermalink }}">

{{ if .Params.minCss }}
{{ range (split .Params.minCss ",")}}
<link rel="stylesheet" href="{{ . | relURL }}">
{{ end }}
{{ end }}

{{ if .Params.css}}
{{ $style := resources.Get .Params.css | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ end }}

{{ if strings.HasSuffix .RelPermalink "404.html" }}
{{ $style := resources.Get "scss/404.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ end }}


{{ if .IsDescendant (.GetPage "/docs") }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css">
{{ if not (eq . (.GetPage "/docs"))}}
{{ $style := resources.Get "scss/doc.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ end }}
{{ end }}

{{ if .IsDescendant (.GetPage "/learn") }}
{{ if not (eq . (.GetPage "/learn"))}}
{{ $style := resources.Get "scss/learn-page.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ end }}
{{ end }}


