<a href="{{ "docs/02-quickstart/01-install-kubesphere.adoc/" | relLangURL }}" aria-label="{{ i18n "Install on Kubernetes" }}" target="_blank" rel="noopener noreferrer">
  <button class='download-btn download-btn1 common-btn'>{{ i18n "Install on Kubernetes" }}</button>
</a>
<a href="{{ "docs/03-installation-and-upgrade/02-install-kubesphere/02-install-kubernetes-and-kubesphere.adoc" | relLangURL }}" aria-label="{{ i18n "Install on Linux" }}" target="_blank" rel="noopener noreferrer">
  <button class='download-btn download-btn2 common-btn'>{{ i18n "Install on Linux" }}</button>
</a>