<link rel="shortcut icon" href='{{ "/images/favicons/favicon.ico" | relURL }}' >
<link rel="apple-touch-icon" href='{{ "/images/favicons/apple-touch-icon.png" | relURL }}' sizes="180x180">
<link rel="icon" type="image/png" href='{{ "/images/favicons/favicon-16x16.png" | relURL }}' sizes="16x16">
<link rel="icon" type="image/png" href='{{ "/images/favicons/favicon-32x32.png" | relURL }}' sizes="32x32">
<link rel="icon" type="image/svg+xml" href='{{ "/images/favicons/favicon.svg" | relURL }}'>
<link rel="icon" type="image/png" href='{{ "/images/favicons/favicon.png" | relURL }}'>
<link rel="manifest" href='{{ "/images/favicons/site.webmanifest" | relURL }}'>
<link rel="mask-icon" href='{{ "/images/favicons/safari-pinned-tab.svg" | relURL }}' color="#00ad6e">
<meta name="msapplication-config" content='{{ "/images/favicons/browserconfig.xml" | relURL }}' />
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">
