<head>
    <meta charset="utf-8">
    <title>{{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="{{ with .Params.Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">

    <link rel="stylesheet" href="/fonts/Roboto/stylesheet.css">
    <link rel="stylesheet" href="/fonts/ProximaNova/stylesheet.css">

    {{ $common := resources.Get "scss/common.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $common.Permalink }}">

    {{- partial "css.html" . -}}

    <script src="{{ "js/jquery-3.5.0.min.js" | relURL }}"></script>

</head>