<head>
    {{ $data := index .Site.Data .Site.Language.Lang }}
    <meta charset="utf-8">
    <title>{{ with .Params.Title }}{{ . }}{{ else }}{{ with $data.head.title }}{{ . }}{{ end }}{{ end }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="{{ with .Params.Description }}{{ . }}{{ else }}{{ with $data.head.description }}{{ . }}{{ end }}{{ end }}">
    <meta name="keywords" content="{{ with .Params.Keywords }}{{ range $i, $e := . }}{{ if $i }} {{ end }}{{ $e }}{{ end }}{{ else }}{{ with $data.head.keywords }}{{ . }}{{ end }}{{ end }}">
    
    {{- partial "css.html" . -}}

    <script src="{{ "js/jquery-3.5.0.min.js" | relURL }}"></script>
    <script src='{{ "js/jquery.modal.min.js" | relURL }}'></script>
</head>