<div class="member-grid-item">
	{{ if eq . ""}}
	{{ else }}
	<a class="member-profile-link" href="{{ .link }}" target="_blank">
		<div class="member-info-ctn">
			<div class="member-avater-ctn">
				<img src="{{ .avater }}" alt="{{ .nickname }}">
			</div>
			<div class="member-name-ctn">
				<span class="member-name"> {{ .name }}</span>
				<span class="member-nickname">@{{ .nickname }} </span>
			</div>
		</div>
		<div class="member-bg-hover">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</a>
	{{ end }}
</div>