<div class="share">
  <a href="https://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}" target="_blank" rel="noopener noreferrer">
    <img src="/images/share/Twitter.svg" alt="twitter icon">
  </a>
  <a href="https://reddit.com/submit?url={{ .Permalink }}&title={{ .Title }}" target="_blank" rel="noopener noreferrer">
    <img src="/images/share/Reddit.svg" alt="reddit icon">
  </a>
  <a href="https://www.facebook.com/sharer.php?u={{ .Permalink }}" target="_blank" rel="noopener noreferrer">
    <img src="/images/share/Facebook.svg" alt="facebook icon">
  </a>
  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}" target="_blank" rel="noopener noreferrer">
    <img src="/images/share/Linkedin.svg" alt="linkedin icon">
  </a>
  <a href="https://news.ycombinator.com/submitlink?u={{ .Permalink }}&t={{ .Title }}" target="_blank" rel="noopener noreferrer">
    <img src="/images/share/HackerNews.svg" alt="hackernews icon">
  </a>
</div>