<!-- {{ $secs := .FirstSection.Sections.ByWeight }} -->
<!-- secs := v3.3 v3.4 v4.1-->
<!-- .FirstSection  eg:/zh/docs -->

<div>
	<nav class='nav-menu'>
		{{ $sections := .FirstSection.Sections.ByWeight }}
		{{ $secondSection := .FirstSection }}
		{{ $page := . }} <!-- cur page -->
		{{ range $sections }} <!--  v3.3 v3.4 v4.1  -->
		{{ if $page.IsDescendant . }}
		{{ $secondSection = . }}
		{{ end }}
		{{ end }}
		{{ template "section-tree-nav-section" (dict "page" . "section" $secondSection) }}
	</nav>
</div>



{{ define "section-tree-nav-section" }}
{{ $s := .section }}
{{ $p := .page }}
{{ $list_active := $p.IsDescendant $s }}

{{ if eq $s.Parent $s.FirstSection }} <!-- don't show when we in vx.x _index page  -->
{{ else }}
<p class="list-title">
	<span class="arrow {{ if $list_active }}arrow-open{{ end }}"></span>
	<span>{{ $s.LinkTitle }}</span>
</p>
{{ end }}

<ul class="{{ if $list_active }}ul-active{{ end }}">
	<!-- here s.pages seems eq to s.section /vx.x/0x-.. ispage = false -->
	{{ $pages := (union (where $s.Pages ".Params._build.render" "!=" false) $s.Sections).ByWeight }}

	<!-- {{ range $s.Sections}}
	<div style="position: relative ;z-index: 99;top:0;width: 100;height: 100;color: blue;">
		{{.RelPermalink}}
	</div>
	{{ end }} -->

	<!-- {{range $s.Pages }}
	<div style="position: relative ;z-index: 99;top:0;width: 100;height: 100;color: red;">
		{{ .RelPermalink }}
	</div>
	{{end}} -->

	{{ range $pages }}
	{{ $active := eq . $p }}
	<li class="list{{ if $active }} active{{ end }}">
		{{ if .IsPage }}
		<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
		{{ else }}
		{{ template "section-tree-nav-section" (dict "page" $p "section" .) }}
		{{ end }}
	</li>
	{{ end }}
</ul>
{{ end }}
<script>
	$('.nav-menu .list-title').click(function () {
		$(this).find('.arrow').toggleClass('arrow-open')
		$(this).next().toggleClass('ul-active')
	})
</script>