<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{- partial "head.html" . -}}

{{ $style := resources.Get "scss/content.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">

{{ $style := resources.Get "scss/markdown.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">

<body>
{{- partial "header.html" . -}}
<section class="main-section">
    <div class="common-layout">
        <div class='breadcrumb'>
            <span><a href='{{ "blogs" | absLangURL }}'>{{ i18n "introduction1"}}</a> > </span>
            <span>{{ .Title }}</span>
        </div>
        <div class='main-div'>
            <div class='author'>{{ .Params.author }}</div>
            <div class='date'>{{ i18n "introduction3" }}：{{ string .Params.createTime }}</div>
            <h1>{{ .Title }}</h1>
            <div class='content'>
                <div class='md-body'>
                    {{ .Content }}
                </div>
            </div>
        </div>
        <div class='aside aside-fixed'>
            <div class='title'>Table of Contents</div>
            <div class='tabs'>{{ .TableOfContents }}</div>
        </div>
    </div>
</section>
{{- partial "footer.html" . -}}
<script src='{{ "js/aside.js" | absURL }}'></script>
</body>

</html>