{{ define "main" }}
{{ $data := index .Site.Data .Site.Language.Lang }}
<section class='section-1'>
  {{ with .Params.section1 }}
  <img class='img1' src="images/home/52.svg" alt="">
  <img class='img2' src="/images/home/12-3.svg" alt="">
  <img class='img3' src="/images/home/2.svg" alt="">
  <div>
    <div>
      <p class='p1'>{{ .title }}</p>
      <h1>{{ .topic }}</h1>
      <p class='p2'>{{ .content }}</p>
      <button class='btn1'>{{ .btnContent1 }}</button>
      <button class='btn2'>{{ .btnContent2 }}</button>
    </div>
    <img class='img1' src="/images/home/53.jpg" alt="">
    <img class='img2' src="/images/home/left.svg" alt="">
    <img class='img4' src="/images/home/46.svg" alt="">
  </div>
  {{ end }}
</section>

<section class="section-2">
  {{ with .Params.section2 }}
  <div>
    <h2>{{ .title }}</h2>
    <p>{{ .content }}</p>
    <ul>
      {{ range .children }}
      <li>
        <img src="{{ .icon }}" alt="">
        <h3>{{ .name }}</h3>
        <p>{{ .content }}</p>
      </li>
      {{ end }}
    </ul>
  </div>
  {{ end }}
</section>

<section class='section-3'>
  {{ with .Params.section3 }}
  <div>
    <h2>{{ .title }}</h2>
    <p>{{ .content }}</p>
    <div class='menu-div'>
      <ul>
        {{ range $index, $element := .children }}
        <li class='{{ if eq $index 0 }} active {{ end }} left-li' data-index='{{ $index }}'>{{ .name }}</li>
        {{ end }}
      </ul>
      {{ range .children }}
      <div class='right-div'>
        <div class='top'>
          <h3>💁🏼‍♂️{{ .name }}</h3>
          <p>{{ .content }}</p>
        </div>
        <ul>
          {{ range .children }}
          <li>{{ .content }}</li>
          {{ end }}
        </ul>
        <img src="{{ .icon | absURL }}" alt="">
      </div>
      {{ end }}

    </div>
  </div>
  {{ end }}
</section>

<section class='section-4'>
  {{ with .Params.section4 }}
  <img class='bg-1' src="/images/home/section4-left.svg" alt="">
  <img class='bg-2' src="/images/home/section4-right.svg" alt="">
  <div>
    <div>
      <h2>{{ .title }}</h2>
      <p>{{ .content | safeHTML }}</p>
      <ul>
        {{ range .children }}
        <li>
          <img src="{{ .icon }}" alt="">
          <div>
            <h3>{{ .name }}</h3>
            <p>{{ .content}}</p>
          </div>
        </li>
        {{ end }}
      </ul>
    </div>

    <ul>
      {{ range .features}}
      <li>
        <div>
          <div class='top-line {{ .color }}'></div>
          <div class='img-span-div'>
            <img src="{{ .icon }}" alt="">
            <span>{{ .name }}</span>
          </div>
          <p>{{ .content }}</p>
        </div>
        <div class='middle-line'></div>
        <a href="">Read More →</a>
      </li>
      {{ end }}
    </ul>
  </div>
  {{ end }}
</section>

<section class='section-5'>
  {{ with .Params.section5 }}
  <div>
    <h2>{{ .title }}</h2>
    <div>
      {{ with .frontEnd }}
      <div class='front-div'>
        <h3>{{ .title }}</h3>
        <p>{{ .project }}</p>
        <ul>
          {{ range .children }}
          <li>
            <img src="{{ .icon }}" alt="">
          </li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
      {{ with .backEnd }}
      <div class='back-div'>
        <h3>{{ .title}}</h3>
        <div class='group'>
          <p>{{ .project }}</p>
          <ul>
            {{ range .group }}
            <li>{{ .name }}</li>
            {{ end }}
          </ul>
        </div>
        <div class='image'>
          <img src="/images/home/applications.png" alt="">
          <img src="/images/home/applications.png" alt="">
        </div>
      </div>
      {{ end }}
    </div>
  </div>
  {{ end }}
</section>

<section class='section-6'>
  {{ with .Params.section6 }}
  <div>
    <h2>{{ .title }}</h2>
    <p>{{ .content | safeHTML }}</p>
    <ul>
      {{ range .children }}
      <li>
        <img src="{{ .icon }}" alt="">
      </li>
      {{ end }}
    </ul>
    <div>
      <button>{{ .btnContent }}</button>
    </div>
    <div class='link-div'>
      <a href="{{ .link }}">{{ .linkContent }}</a>
    </div>
    <img class='bottom-img' src="{{ .image }}" alt="">
  </div>
  <img class='bg-1' src="/images/home/section6-left.svg" alt="">
  <img class='bg-2' src="/images/home/section6-right.svg" alt="">
  {{ end }}
</section>

<script>
  var bindMouseLeftLi = function() {
    $('.left-li').mouseenter(function() {
      var index = Number($(this).data('index'))
      $('.left-li').removeClass('active')
      $(this).addClass('active')
      $('.right-div').hide().eq(index).show()
    })
  }
  bindMouseLeftLi()
</script>
{{ end }}